/* Surge start  */
/*@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=DM+Serif+Display&display=swap');
.tooltipster-fall,.tooltipster-grow.tooltipster-show{-webkit-transition-timing-function:cubic-bezier(.175,.885,.32,1);-moz-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);-ms-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);-o-transition-timing-function:cubic-bezier(.175,.885,.32,1.15)}.tooltipster-base{display:flex;pointer-events:none;position:absolute}.tooltipster-box{flex:1 1 auto}.tooltipster-content{box-sizing:border-box;max-height:100%;max-width:100%;overflow:auto}.tooltipster-ruler{bottom:0;left:0;overflow:hidden;position:fixed;right:0;top:0;visibility:hidden}.tooltipster-fade{opacity:0;-webkit-transition-property:opacity;-moz-transition-property:opacity;-o-transition-property:opacity;-ms-transition-property:opacity;transition-property:opacity}.tooltipster-fade.tooltipster-show{opacity:1}.tooltipster-grow{-webkit-transform:scale(0,0);-moz-transform:scale(0,0);-o-transform:scale(0,0);-ms-transform:scale(0,0);transform:scale(0,0);-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform;-webkit-backface-visibility:hidden}.tooltipster-grow.tooltipster-show{-webkit-transform:scale(1,1);-moz-transform:scale(1,1);-o-transform:scale(1,1);-ms-transform:scale(1,1);transform:scale(1,1);-webkit-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);transition-timing-function:cubic-bezier(.175,.885,.32,1.15)}.tooltipster-swing{opacity:0;-webkit-transform:rotateZ(4deg);-moz-transform:rotateZ(4deg);-o-transform:rotateZ(4deg);-ms-transform:rotateZ(4deg);transform:rotateZ(4deg);-webkit-transition-property:-webkit-transform,opacity;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform}.tooltipster-swing.tooltipster-show{opacity:1;-webkit-transform:rotateZ(0);-moz-transform:rotateZ(0);-o-transform:rotateZ(0);-ms-transform:rotateZ(0);transform:rotateZ(0);-webkit-transition-timing-function:cubic-bezier(.23,.635,.495,1);-webkit-transition-timing-function:cubic-bezier(.23,.635,.495,2.4);-moz-transition-timing-function:cubic-bezier(.23,.635,.495,2.4);-ms-transition-timing-function:cubic-bezier(.23,.635,.495,2.4);-o-transition-timing-function:cubic-bezier(.23,.635,.495,2.4);transition-timing-function:cubic-bezier(.23,.635,.495,2.4)}.tooltipster-fall{-webkit-transition-property:top;-moz-transition-property:top;-o-transition-property:top;-ms-transition-property:top;transition-property:top;-webkit-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);transition-timing-function:cubic-bezier(.175,.885,.32,1.15)}.tooltipster-fall.tooltipster-initial{top:0!important}.tooltipster-fall.tooltipster-dying{-webkit-transition-property:all;-moz-transition-property:all;-o-transition-property:all;-ms-transition-property:all;transition-property:all;top:0!important;opacity:0}.tooltipster-slide{-webkit-transition-property:left;-moz-transition-property:left;-o-transition-property:left;-ms-transition-property:left;transition-property:left;-webkit-transition-timing-function:cubic-bezier(.175,.885,.32,1);-webkit-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);-moz-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);-ms-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);-o-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);transition-timing-function:cubic-bezier(.175,.885,.32,1.15)}.tooltipster-slide.tooltipster-initial{left:-40px!important}.tooltipster-slide.tooltipster-dying{-webkit-transition-property:all;-moz-transition-property:all;-o-transition-property:all;-ms-transition-property:all;transition-property:all;left:0!important;opacity:0}@keyframes tooltipster-fading{0%{opacity:0}100%{opacity:1}}.tooltipster-update-fade{animation:tooltipster-fading .4s}@keyframes tooltipster-rotating{25%{transform:rotate(-2deg)}75%{transform:rotate(2deg)}100%{transform:rotate(0)}}.tooltipster-update-rotate{animation:tooltipster-rotating .6s}@keyframes tooltipster-scaling{50%{transform:scale(1.1)}100%{transform:scale(1)}}.tooltipster-update-scale{animation:tooltipster-scaling .6s}.tooltipster-sidetip .tooltipster-box{background:#565656;border:2px solid #000;border-radius:4px}.tooltipster-sidetip.tooltipster-bottom .tooltipster-box{margin-top:8px}.tooltipster-sidetip.tooltipster-left .tooltipster-box{margin-right:8px}.tooltipster-sidetip.tooltipster-right .tooltipster-box{margin-left:8px}.tooltipster-sidetip.tooltipster-top .tooltipster-box{margin-bottom:8px}.tooltipster-sidetip .tooltipster-content{color:#fff;line-height:18px;padding:6px 14px}.tooltipster-sidetip .tooltipster-arrow{overflow:hidden;position:absolute}.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow{height:10px;margin-left:-10px;top:0;width:20px}.tooltipster-sidetip.tooltipster-left .tooltipster-arrow{height:20px;margin-top:-10px;right:0;top:0;width:10px}.tooltipster-sidetip.tooltipster-right .tooltipster-arrow{height:20px;margin-top:-10px;left:0;top:0;width:10px}.tooltipster-sidetip.tooltipster-top .tooltipster-arrow{bottom:0;height:10px;margin-left:-10px;width:20px}.tooltipster-sidetip .tooltipster-arrow-background,.tooltipster-sidetip .tooltipster-arrow-border{height:0;position:absolute;width:0}.tooltipster-sidetip .tooltipster-arrow-background{border:10px solid transparent}.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background{border-bottom-color:#565656;left:0;top:3px}.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-background{border-left-color:#565656;left:-3px;top:0}.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-background{border-right-color:#565656;left:3px;top:0}.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background{border-top-color:#565656;left:0;top:-3px}.tooltipster-sidetip .tooltipster-arrow-border{border:10px solid transparent;left:0;top:0}.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border{border-bottom-color:#000}.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border{border-left-color:#000}.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-border{border-right-color:#000}.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border{border-top-color:#000}.tooltipster-sidetip .tooltipster-arrow-uncropped{position:relative}.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-uncropped{top:-10px}.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-uncropped{left:-10px}

/* Surge start  */

.sgem-net-worth-cal-1 .sgem-net-worth-form-group label,
.sgem-net-worth-cal-1 input[type="text"],
.sgem-net-worth-cal-1-result .sgem-net-worth-result-panel-header,
.sgem-net-worth-percentage-note,
[data-tippy-root],
.sgem-net-worth-cal-1 summary {
  font-family: "DM Sans", sans-serif;
}

.sgem-net-worth-cal-main-id {
  max-width: 1240px;
  margin: 0 auto;
  font-family: "DM SANS";
}

.sgem-net-worth-cal-wrapper * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sgem-net-worth-cal-wrapper {
  position: relative;
  display: block;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 24px;
  background-color: #f3f3f3;
}
.sgem-net-worth-logo-center {
  display: flex;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  font-size: 16px;
  padding-right: 5px;
}
.sgem-net-worth-cal-left {
  width: 100%;
  padding-right: 12px;
  border-right: 1px solid #E3E3E3;
  padding-bottom: 12px;
}
.sgem-net-worth-cal-right {
  width: 100%;
  padding-left: 12px;
  padding-bottom: 12px;
}
.sgem-net-worth-container-title {
  font-size: 20px;
  color: #000;
  margin-bottom: 24px;
}
.sgem-net-worth-container-title span.sgem-net-worth-tooltip {
  margin-left: 8px;
}
.sgem-net-worth-cal-bottom-section {
  background: #FFFFFF;
}
.sgem-net-worth-top-fields-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.sgem-net-worth-cal-1-result-wrapper {
  padding: 32px 40px;
  position: relative;
}
.sgem-net-worth-cal-1 .sgem-net-worth-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  position: relative;
  justify-content: space-between;
  align-items: flex-start;
}
.sgem_net_worth_err_style {
  font-weight: 300;
    font-size: 13px;
    color: #ff5964;
}
.sgem-net-worth-flex-con-last {
  padding-top: 24px;
}
.sgem-net-worth-cal-1 .sgem-net-worth-flex-container .sgem-net-worth-form-flex {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  padding-bottom: 28px;
  position: relative;
  padding-right: 24px;
}
.sgem-net-worth-cal-1 .sgem-net-worth-form-group {
  margin: 0px !important;
  padding: 0px;
}
.sgem-net-worth-cal-1 .sgem-net-worth-form-group label {
  font-size: 15px;
  font-weight: normal;
  color: #000;
  font-family: "DM Sans", Helvetica, Arial, Lucida, sans-serif;
  margin-bottom: 8px;
}
.sgem-net-worth-cal-1 input[type="text"] {
  font-size: 16px;
  height: 55px;
  padding: 17px 16px;
  width: 100%;
  color: #002340;
  border: 1px solid #bbb;
  background: #ffffff;
}

.sgem-net-worth-cal-1 input[type="text"]:focus {
  outline: none !important;
  border: 1px solid #2d3940;
}
.sgem-net-worth-cal-1 input[type="date"] {
  font-size: 16px;
  height: 55px;
  padding: 17px 16px;
  width: 200px;
  color: #002340;
  border: 1px solid #bbb;
}
.sgem-net-worth-cal-1 input[type="date"]:focus {
  outline: none !important;
  border: 1px solid #2d3940;
}
.sgem-net-worth-cal-1 .sgem-net-worth-group-option-l {
  padding-left: 0px !important;
}
.sgem-net-worth-cal-1 .sgem-net-worth-group-option-r {
  padding-right: 0px !important;
}
.sgem-net-worth-collapsible-summary-title {
  font-family: "DM Sans", Helvetica, Arial, Lucida, sans-serif;
  font-size: 20px;
  color: #000000;
  font-weight: 500;
  margin-block-start: 20px;
  margin-block-end: 20px;
}
.sgem-net-worth-cal-1 .sgem-net-worth-form-flex.sgem-net-worth-years-holder::before {
  content: "Years";
  position: absolute;
  right: 36px;
  top: 48px;
  display: block;
  color: #a3a3a3;
  font-weight: 400;
  font-size: 16px;
}
.sgem-net-worth-cal-1 .sgem-net-worth-form-flex.sgem-net-worth-currency-holder::after {
  content: "$";
  position: absolute;
  left: 16px;
  top: 49px;
  display: block;
  color: #a3a3a3;
  font-weight: 400;
  font-size: 16px;
}
.sgem-net-worth-cal-1 .sgem-net-worth-form-flex.sgem-net-worth-currency-holder-t::after {
  top: 72px;
}
.sgem-net-worth-cal-1 .sgem-net-worth-form-flex.sgem-net-worth-precentage-holder::after {
  content: "%";
  position: absolute;
  right: 20px;
  top: 48px;
  display: block;
  color: #a3a3a3;
  font-weight: 400;
  font-size: 16px;
}
.sgem-net-worth-cal-1
  .sgem-net-worth-form-flex.sgem-net-worth-currency-holder
  input[type="text"] {
  padding-left: 33px;
}
.sgem-net-worth-cal-1 .sgem-net-worth-flex-container .sgem-net-worth-form-flex.sgem-net-worth-right-field {
  padding-right: 0;
}
.sgem-net-worth-cal-1 details.sgem-net-worth-input-more-details {
  border-top: 1px solid #bebebe;
  display: block;
  margin-top: 12px;
}
.sgem-net-worth-cal-1 summary {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 20px;
  cursor: pointer;
}
.sgem-net-worth-cal-1 h3.collapsible-summary-title {
  font-size: 20px;
  color: #000000;
  padding-bottom: 0;
}
.sgem-net-worth-cal-1 details.sgem-net-worth-input-more-details > summary::marker,
.sgem-net-worth-cal-1
  details.sgem-net-worth-input-more-details
  > summary::-webkit-details-marker {
  display: none;
}
.sgem-net-worth-cal-1
  details.sgem-net-worth-input-more-details
  > summary::-moz-list-bullet {
  list-style-type: none;
  list-style: none;
  display: none;
}
.sgem-net-worth-cal-1 details.sgem-net-worth-input-more-details > summary::after {
  content: " ";
  width: 25px;
  height: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center -5px;
  background-size: 25px;
  background-image: url("/wp-content/plugins/sgem-net-worth-calculator/assets/images/drop-down-arrow-cpg.svg");
}
.sgem-net-worth-cal-1 details[open] > summary::after {
  -moz-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  background-position: center 5px;
}
.sgem-net-worth-cal-1-result-header {
  font-family: "DM Sans", Helvetica, Arial, Lucida, sans-serif;
  font-size: 20px;
  color: #000000;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.sgem-net-worth-cal-1-result-wrapper .sgem-net-worth-column2 {
  width: auto;
}
.sgem-net-worth-cal-1-result-wrapper .sgem-net-worth-flex-container .sgem-net-worth-form-flex {
  width: 50%;
  display: inline-block;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  flex: 1 0 50%;
  padding-bottom: 40px;
}
.sgem-net-worth-form-right {
    width: 50%;
    display: inline-flex;
    height: 133px;
    align-items: flex-start;
    background: #F1F9FF;
    padding: 30px;
}
.sgem-net-worth-cal-1-result-wrapper .sgem-net-worth-column2 {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
}

.sgem-net-worth-cal-1-result-wrapper .sgem-net-worth-result-value {
  font-size: 16px;
  text-align: left;
  line-height: 21px;
  letter-spacing: 0px;
  color: #1a1a1a;
  font-weight: 300;
}
.sgem-net-worth-logo-wrapper {
  position: absolute;
  right: 5px;
  top: 5px;
}
.sgem-net-worth-cal-1-result .sgem-net-worth-result-panel {
  background: #ffffff 0% 0% no-repeat padding-box;
  -moz-box-shadow: 0px 5px 20px #0000001a;
  -webkit-box-shadow: 0px 5px 20px #0000001a;
  -o-box-shadow: 0px 5px 20px #0000001a;
  box-shadow: 0px 5px 20px #0000001a;
  opacity: 1;
  padding-top: 24px;
}
.sgem-net-worth-cal-1-result .sgem-net-worth-result-panel-header {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: 0px;
  color: #000000;
  text-transform: uppercase;
}
.sgem-net-worth-cal-1-result .sgem-net-worth-result-panel-goal {
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  font-family: "DM Serif Display", serif;
  line-height: 36px;
  letter-spacing: 0px;
  color: #002340;
  padding-top: 16px;
  padding-bottom: 24px;
  position: relative;
  min-height: 80px;
  width: 100%;
}
.sgem-net-worth-cal-1-result .sgem-net-worth-flex-container-2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 32px;
  position: relative;
  overflow: hidden;
}
.sgem-net-worth-cal-1-result .sgem-net-worth-flex-container-2 .sgem-net-worth-form-flex-2 {
  display: flex;
  flex-direction: column;
}
.sgem-net-worth-cal-1-result .sgem-net-worth-result-score-label {
  border: 1px solid rgba(0, 1, 255, 0);
  font-size: 16px;
  color: #012341;
  font-family: DM Sans;
  font-weight: 400;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sgem-net-worth-cal-1-result .sgem-net-worth-needAtt {
  background-color: #ff5964;
}
.sgem-net-worth-cal-1-result .sgem-net-worth-onWay {
  background-color: #ffc12e;
}
.sgem-net-worth-cal-1-result .sgem-net-worth-getClose {
  background-color: #1e96fc;
}
.sgem-net-worth-cal-1-result .sgem-net-worth-onTrack {
  background-color: #4bcc8c;
}
.sgem-net-worth-cal-1-result-footer {
  font-family: "DM Sans", Helvetica, Arial, Lucida, sans-serif;
  font-size: 16px;
  color: #474747;
  font-weight: 300;
}
.sgem-net-worth-buttonGet {
  margin-top: 40px;
  display: flex;
}
.sgem-net-worth-cal-1-result-footer .sgem-net-worth-getStart {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0px;
  color: #002340;
  text-transform: uppercase;
  background: #ffc12e;
  opacity: 1;
  border: 0px;
  padding: 16px 42px;
  text-decoration: none;
  cursor: pointer;
}
.sgem-net-worth-cal-1-result-footer .sgem-net-worth-getStart:hover {
  background-color: #ffd061;
}

.sgem-net-worth-cal-1 .sgem-net-worth-cal-btn {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0px;
  color: #002340;
  text-transform: uppercase;
  background: #4bcc8c;
  opacity: 1;
  border: 0px;
  padding: 16px 42px;
  display: block;
  width: 188px;
  height: 53px;
  margin-top: 50px;
  cursor: pointer;
}
.sgem-net-worth-result-goal-text {
  position: relative;
  width: 100%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.sgem-net-worth-err-msg {
  color: #ff5964;
  font-weight: 300;
  font-size: 12px;
  display: none;
  line-height: 15px;
}
/* Chrome, Safari, Edge, Opera for input type numbers (if exist) to remove up down arrows */
.sgem-net-worth-cal-wrapper input::-webkit-outer-spin-button,
.sgem-net-worth-cal-wrapper input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.sgem-net-worth-cal-wrapper input[type="number"] {
  -moz-appearance: textfield;
}

.sgem-net-worth-percentage-note {
  font-size: 13px;
  font-weight: 400;
  color: #000;
  margin-top: 4px;
}
[data-tippy-root] {
  max-width: 250px;
  -moz-box-shadow: 0 4px 8px 0 rgba(100, 102, 106, 0.15),
    0 8px 16px 0 rgba(100, 102, 106, 0.33);
  -webkit-box-shadow: 0 4px 8px 0 rgba(100, 102, 106, 0.15),
    0 8px 16px 0 rgba(100, 102, 106, 0.33);
  box-shadow: 0 4px 8px 0 rgba(100, 102, 106, 0.15),
    0 8px 16px 0 rgba(100, 102, 106, 0.33);
}

[data-tippy-content] {
  font-family: "DM Sans", Helvetica, Arial, Lucida, sans-serif;
  font-size: 14px;
}

.tippy-popper {
  font-family: "DM Sans", Helvetica, Arial, Lucida, sans-serif;
}

.sgem-net-worth-tooltip {
  border: 1px solid #000;
  width: 18px;
  height: 18px;
  border-radius: 50px;
  line-height: 18px;
  font-size: 11px;
  display: inline-block;
  text-align: center;
  cursor: pointer !important;
  font-family: "DM Sans", Helvetica, Arial, Lucida, sans-serif;
}
.tippy-popper {
  font-family: "DM Sans", Helvetica, Arial, Lucida, sans-serif;
  font-size: 11px;
  max-width: 250px;
}
.sgem-net-worth-precentage-arrow {
  position: absolute;
  border-top: solid 15px white;
  border-left: solid 15px transparent;
  border-right: solid 15px transparent;
  content: "";
  width: 0;
  height: 0;
  left: 29.8154%;
  margin-left: -15px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.sgem-net-worth-err-msg-rmt {
  color: #ff5964;
  font-weight: 300;
  font-size: 13px;
  display: none;
}

.sgem-net-worth-form-flex-needAtt {
  width: 38%;
  flex-basis: 38%;
}
.sgem-net-worth-form-flex-onWay {
  width: 27%;
  flex-basis: 27%;
}
.sgem-net-worth-form-flex-getClose {
  width: 20%;
  flex-basis: 20%;
}
.sgem-net-worth-form-flex-onTrack {
  width: 15%;
  flex-basis: 15%;
}

.sgem-net-worth-common-err-msg {
  color: #ff5964;
  font-weight: 300;
  font-size: 13px;
  line-height: 17px;
}

.sgem-net-worth-err-msg-rmt {
  color: #ff5964;
  font-weight: 300;
  font-size: 13px;
}
.sgem-net-worth-err-msg-age {
  color: #ff5964;
  font-weight: 300;
  font-size: 13px;
  display: none;
}
.sgem-net-worth-err-msg-per {
  color: #ff5964;
  font-weight: 300;
  font-size: 13px;
}
.sgem-net-worth-err-msg-death {
  color: #ff5964;
  font-weight: 300;
  font-size: 13px;
}
.sgem-net-worth-err-msg-income {
  color: #ff5964;
  font-weight: 300;
  font-size: 13px;
}
.sgem-net-worth-err-msg-current {
  color: #ff5964;
  font-weight: 300;
  font-size: 13px;
}

/* Right Section */
.sgem-net-worth-age-text {
  font-size: 42px;
}
.sgem-net-worth-chartCard {
  padding-bottom: 40px;
}
.sgem-net-worth-contribution {
  border: 0px;
  padding: 0px;
  width: 18px;
  height: 18px;
  margin-right: 16px;
}
.sgem-net-worth-tax-savings {
  border: 0px;
  padding: 0px;
  width: 18px;
  height: 18px;
  margin-right: 16px;
}
.sgem-net-worth-investment {
  border: 0px;
  padding: 0px;
  width: 18px;
  height: 18px;
  margin-right: 16px;
}

/* Message Title*/

#messagetitle {
  font-size: 24px;
  font-weight: 500;
  color: #000;
  font-family: "DM Sans", Helvetica, Arial, Lucida, sans-serif;
  margin-bottom: 16px;
  display: inline-block;
}

#mainmessage {
  font-size: 24px;
  font-weight: 500;
  font-family: "DM Sans", Helvetica, Arial, Lucida, sans-serif;
  margin-bottom: 16px;
  color: #ff5964;
  display: inline-block;
}

/* Advance tab*/
.sgem-net-worth-drop-selection {
  font-size: 15px;
  height: 55px;
  padding: 17px 16px;
  width: 200px;
  color: #002340;
  border: 1px solid #bbb;
  background-color: #fff;
  font-family: "DM Sans", Helvetica, Arial, Lucida, sans-serif;
  cursor: pointer;
}

.sgem-net-worth-drop-selection:focus {
  outline: none !important;
  border: 1px solid #2d3940;
}

.sgem-net-worth-checkbox input[type="checkbox"] {
  margin: 0px;
  width: 20px;
  height: 20px;
}
.sgem-net-worth-checkbox {
  background-color: #fff;
  font-size: 16px;
  height: 55px;
  padding: 14px 10px;
  width: 200px;
  color: #002340;
  border: 1px solid #bbb;
  display: flex;
  justify-content: space-between;
}
.sgem-net-worth-plusminus {
  width: 200px;
  display: flex;
  border: 1px solid #bbb;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #fff;
}
.sgem-net-worth-inline .sgem-net-worth-plusminus .sgem-net-worth-midvalue {
  width: 150px;
  border-right: 1px;
  border-left: 1px;
  border-color: #bbb;
  border-style: solid;
  border-bottom-width: 0px;
  border-top-width: 0px;
}
.sgem-net-worth-minus,
.sgem-net-worth-plus {
  cursor: pointer;
}

/* tippytheme box*/
.sgem-net-worth-goal-tooltip {
  text-align: center;
  cursor: pointer;
}
.tippy-box[data-theme~="sgem-net-worth-goal"] {
  font-size: 20px;
  background-color: #fff;
  color: #000;
  border: 1px solid #b1b3b5;
  padding: 0.5rem 1rem;
  -webkit-box-shadow: 0 4px 8px 0 rgb(100 102 106 / 15%),
    0 8px 16px 0 rgb(100 102 106 / 33%);
  box-shadow: 0 4px 8px 0 rgb(100 102 106 / 15%),
    0 8px 16px 0 rgb(100 102 106 / 33%);
}

.sgem-net-worth-goal-tooltip-range-to-NeedAtt {
  color: #ff5964;
  font-size: 15px;
}
.sgem-net-worth-goal-tooltip-range-to-onWay {
  color: #ffc12e;
  font-size: 15px;
}
.sgem-net-worth-goal-tooltip-range-to-getClose {
  color: #1e96fc;
  font-size: 15px;
}
.sgem-net-worth-goal-tooltip-range-to-onTrack {
  color: #4bcc8c;
  font-size: 15px;
}

.tippy-box[data-theme~="sgem-net-worth-goal"][data-placement^="top"]
  > .tippy-arrow::before {
  border-top-color: #fff;
}
.tippy-box[data-theme~="sgem-net-worth-goal"][data-placement^="bottom"]
  > .tippy-arrow::before {
  border-bottom-color: #fff;
}
.tippy-box[data-theme~="sgem-net-worth-goal"][data-placement^="left"]
  > .tippy-arrow::before {
  border-left-color: #fff;
}
.tippy-box[data-theme~="sgem-net-worth-goal"][data-placement^="right"]
  > .tippy-arrow::before {
  border-right-color: #fff;
}


/* Desclamer */
.sgem-net-worth-section-disclaimer {
    margin-top: 40px;
}
.sgem-net-worth-details-disclaimer summary {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.sgem-net-worth-collapsible-summary-disclaimer {
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    color: #474747;
}
details.sgem-net-worth-details-disclaimer > summary::after {
    content: " ";
    width: 25px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center -2px;
    background-size: 25px;
    background-image: url(/wp-content/plugins/sgem-net-worth-calculator/assets/images/drop-down-arrow-net-worth.svg);
    margin-top: 5px;
}
details.sgem-net-worth-details-disclaimer[open] > summary::after {
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    background-position: center 1px;
}
.sgem-net-worth-collapsible-text-disclaimer {
  font-weight: 400;
    line-height: 18px;
    font-size: 14px;
    padding: 10px 0;
    color: #474747;
}
/* ledgent styles */
.sgem-net-worth-legendbox {
    display: flex;
}
.sgem-net-worth-legend-item {
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-top: 24px;
    cursor: pointer;
}
.sgem-net-worth-principle, .sgem-net-worth-le-interest, .sgem-net-worth-principle-l2 {
    height: 18px;
    width: 18px;
    border: 0;
}
.sgem-net-worth-principle-te, .sgem-net-worth-principle-te-l2, .sgem-net-worth-le-interest-te {
    margin-left: 10px;
}
/* footer text and copy text */
.sgem-net-worth-cal-main-id .sgem-net-worth-logo-center {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}
.sgem-net-worth-cal-main-id .sgem-net-worth-logo-center a {
    color: rgb(21, 105, 176);
}
.sgem-net-worth-cal-main-id .sgem-net-worth-copy-option-panel {
    background: #fff;
    padding-top: 25px;
}
.sgem-net-worth-copy-option-panel h3 {
    font-family: "DM Sans", Helvetica, Arial, Lucida, sans-serif;
    margin-bottom: 16px;
    font-size: 20px;
    color: #000;
    padding-bottom: 5px;
    font-weight: 500;
}
.sgem-net-worth-copy-code {
    background: #ffc12e;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    color: #002340;
    text-transform: uppercase;
    border: 0;
    display: block;
    height: 53px;
    text-align: center;
    text-decoration: none;
    padding: 0.3em 1em;
    line-height: 1.5em !important;
    cursor: pointer;
    width: auto;
}
.sgem-net-worth-copy-code-wrap .sgem-net-worth-copy-code:hover {
    background-color: #ffd061;
}
/* bottom section styles */
.sgem-net-worth-result-headtext-left {
    font-size: 20px;
    color: #000;
    line-height: 45px;
}
.sgem-net-worth-result-label {
  font-family: "DM Serif Display", serif;
  font-size: 60px;
  color: #002340;
  line-height: 85px;
}
.sgem-net-worth-result-flex {
  display: inline-block;
  width: 49%;
}
.sgem-net-worth-result-headtext {
  font-size: 16px;
  color: #1A1A1A;
  padding-bottom: 8px;
}
.sgem-net-worth-asset-label {
    font-family: "DM Serif Display", serif;
    font-size: 32px;
    color: #002340;
    line-height: 44px;
}
.sgem-net-worth-liabilities-label {
    font-family: "DM Serif Display", serif;
    font-size: 32px;
    color: #FF5964;
    line-height: 44px;
}

/* add class styles */
.sgem-net-worth-top-fields-section-add-class .sgem-net-worth-flex-con-last {
    padding-top: 0;
}
.sgem-net-worth-top-fields-section-add-class .sgem-net-worth-cal-1 .sgem-net-worth-form-flex.sgem-net-worth-currency-holder-t::after {
    top: 47px;
}
.sgem-net-worth-top-fields-section.sgem-net-worth-top-fields-section-add-class {
  display: block;
}
.sgem-net-worth-top-fields-section-add-class .sgem-net-worth-cal-left {
    width: 100%;
    padding-right: 0;
    border-right: 0px;
    padding-bottom: 12px;
}
.sgem-net-worth-top-fields-section-add-class .sgem-net-worth-cal-right {
    padding-left: 0;
}
.sgem-net-worth-top-fields-section-add-class .sgem-net-worth-cal-1 input[type="text"] {
  font-size: 0.9em;
    height: 45px;
}
.sgem-net-worth-top-fields-section-add-class .sgem-net-worth-tooltip {
    width: 15px;
    height: 15px;
  line-height: 15px;
}
.sgem-net-worth-cal-bottom-section-add-class .sgem-net-worth-cal-1-result-wrapper {
    padding: 20px;
}
.sgem-net-worth-top-fields-section-add-class .sgem-net-worth-container-title {
    font-size: 1.1em;
}
.sgem-net-worth-top-fields-section-add-class .sgem-net-worth-cal-1 .sgem-net-worth-form-flex.sgem-net-worth-currency-holder::after {
  font-size: 0.9em;
  bottom: 38px;
}
.sgem-net-worth-top-fields-section-add-class .sgem-net-worth-cal-1 .sgem-net-worth-form-group label {
  font-size: 0.9em;
}
.sgem-net-worth-cal-bottom-section-add-class .sgem-net-worth-result-headtext-left {
    font-size: 1.1em;
}
.sgem-net-worth-cal-bottom-section-add-class .sgem-net-worth-result-label {
    font-size: 4em;
}
.sgem-net-worth-cal-bottom-section-add-class .sgem-net-worth-result-headtext {
    font-size: 1em;
}
.sgem-net-worth-cal-bottom-section-add-class .sgem-net-worth-asset-label,
.sgem-net-worth-cal-bottom-section-add-class .sgem-net-worth-liabilities-label {
    font-size: 2em;
}

.sgem-net-worth-cal-bottom-section-add-class .sgem-net-worth-form-right {
  width: 100%;
  display: block;
  margin-bottom: 40px;
}
.sgem-net-worth-cal-wrapper-add-mobile .sgem-net-worth-cal-1 .sgem-net-worth-flex-container {
    display: block;
}
.sgem-net-worth-cal-wrapper-add-mobile .sgem-net-worth-cal-1 .sgem-net-worth-flex-container .sgem-net-worth-form-flex {
  padding-right: 0;
}
.sgem-net-worth-cal-wrapper-add-mobile .sgem-net-worth-cal-1 .sgem-net-worth-form-flex.sgem-net-worth-currency-holder::after {
    font-size: 0.9em;
    top: 43px;
}
.sgem-net-worth-cal-wrapper.sgem-net-worth-cal-wrapper-add-mobile {
  padding: 8px;
}
/* end */

/* ******** ipad ************ */
@media (max-width: 1024px) {
  .sgem-net-worth-logo-wrapper {
    position: absolute;
    right: 5px;
    top: -7px;
  }
  .sgem-net-worth-drop-selection {
    width: 100%;
  }
  .sgem-net-worth-plusminus {
    width: 100%;
  }
  .sgem-net-worth-inline .sgem-net-worth-plusminus .sgem-net-worth-midvalue input[type="text"] {
    width: 125px;
  }
  .sgem-net-worth-checkbox {
    width: 100%;
    padding: 15px 18px;
  }
  .sgem-net-worth-cal-main-id .sgem-net-worth-copy-option-panel {
  padding: 25px;
  }
}

@media (max-width: 1100px) {
  .sgem-net-worth-cal-wrapper {
    flex-direction: column;
    width: auto;
  }
  .sgem-net-worth-cal-left {
    width: 100%;
  }
  .sgem-net-worth-cal-right {
    width: 100%;
  }
  .sgem-net-worth-cal-1 input[type="text"] {
    width: 100%;
  }
  .sgem-net-worth-cal-1 input[type="date"] {
    width: 100%;
  }
  .sgem-net-worth-cal-1 .sgem-net-worth-flex-container .sgem-net-worth-form-flex:last-child {
    padding-right: 0;
  }
  .sgem-net-worth-precentage-arrow {
    border-top: solid 12px white;
    border-left: solid 12px transparent;
    border-right: solid 12px transparent;
  }
  .sgem-net-worth-age-text {
    font-size: 22px;
  }
}

/* ******** mobile ************ */
@media (max-width: 480px) {
  .sgem-net-worth-cal-left,
  .sgem-net-worth-cal-right {
    width: 100%;
  }
  .sgem-net-worth-cal-left .sgem-net-worth-cal-1 input[type="text"] {
    width: 100%;
  }
  .sgem-net-worth-cal-1 input[type="date"] {
    width: 100%;
  }
  .sgem-net-worth-cal-wrapper {
    flex-direction: column;
  }
  .sgem-net-worth-cal-1-result-wrapper .sgem-net-worth-column2 {
    width: 100%;
    flex-direction: column;
  }
  .sgem-net-worth-cal-1-result-wrapper {
    padding: 12px;
  }
  .sgem-net-worth-cal-1-result-wrapper .sgem-net-worth-flex-container .sgem-net-worth-form-flex {
    padding-bottom: 32px;
    font-size: 14px;
  }
  .sgem-net-worth-cal-1 .sgem-net-worth-form-group label {
    line-height: 15px;
    display: block;
    min-height: 30px;
    font-size: 14px;
    margin-bottom: 0;
  }
  .sgem-net-worth-cal-1 .sgem-net-worth-flex-container .sgem-net-worth-form-flex:last-child {
    padding-right: 0;
  }
  .sgem-net-worth-cal-1-result-wrapper .sgem-net-worth-result-label {
    font-size: 32px;
    line-height: 44px;
  }
  .sgem-net-worth-cal-1-result .sgem-net-worth-result-panel-header {
    font-size: 14px;
  }
  .sgem-net-worth-cal-1-result-header {
    font-size: 15px;
    font-family: "DM Sans", Helvetica, Arial, Lucida, sans-serif;
  }
  .sgem-net-worth-cal-1-result .sgem-net-worth-result-panel-goal {
    font-size: 30px;
  }
  .sgem-net-worth-cal-1 .sgem-net-worth-cal-btn {
    margin-bottom: 40px;
    margin-top: 10px;
  }
  .sgem-net-worth-logo-wrapper {
    position: relative;
    top: unset;
    right: unset;
    margin-left: -3px;
    margin-top: -10px;
    margin-bottom: 16px;
  }
  .sgem-net-worth-logo-wrapper img {
    height: 25px;
  }
  .sgem-net-worth-cal-1 .sgem-net-worth-flex-container .sgem-net-worth-form-flex {
    padding-right: 12px;
  }
  .sgem-net-worth-tooltip {
    position: absolute;
    margin-left: 8px;
  }
  .sgem-net-worth-cal-1 .sgem-net-worth-form-flex.sgem-net-worth-currency-holder::after {
    top: 54px;
  }
  .sgem-net-worth-percentage-note {
    line-height: 14px;
  }
  .sgem-net-worth-cal-1-result .sgem-net-worth-flex-container-2 .sgem-net-worth-form-flex-2 {
    text-align: center;
  }
  .sgem-net-worth-precentage-arrow {
    border-top: solid 8px white;
    border-left: solid 8px transparent;
    border-right: solid 8px transparent;
  }
  .sgem-net-worth-cal-1-result .sgem-net-worth-result-score-label {
    font-size: 13px;
    line-height: 14px;
    padding: 0 10px;
  }
  .sgem-net-worth-tooltip {
    width: 15px;
    height: 15px;
    line-height: 15px;
    font-size: 11px;
  }
  .sgem-net-worth-inline .sgem-net-worth-plusminus input[type="text"] {
    width: 125px;
  }
  .sgem-net-worth-logo-center {
    font-size: 15px;
    flex-direction: column;
    padding-top: 20px;
  }
  .sgem-net-worth-logo-image {
    padding: 0px;
  }
  .sgem-net-worth-cal-1-result-footer {
    font-size: 14px;
  }
  .sgem-net-worth-cal-1-result-wrapper .sgem-net-worth-result-value {
    font-size: 14px;
  }
  .sgem-net-worth-value-text {
    font-size: 22px;
    padding-top: 0px;
  }
  .sgem-net-worth-cal-wrapper-add-mobile .sgem-net-worth-cal-1 .sgem-net-worth-form-flex.sgem-net-worth-currency-holder::after {
    font-size: 0.9em;
    top: 41px;
  }
  .sgem-net-worth-form-right {
  width: 100%;
    display: block;
    margin-bottom: 40px;
  }
  .sgem-net-worth-result-flex {
    display: inline-block;
    width: 100%;
  margin-bottom: 20px;
  }
  .sgem-net-worth-form-right {
  height: auto;
  }
}
@media (max-width: 420px) {
  .sgem-net-worth-cal-1 .sgem-net-worth-form-flex.sgem-net-worth-currency-holder::after {
    top: 46px;
  }
  .sgem-net-worth-tooltip {
    position: absolute;
    margin-left: 4px;
  }
  .sgem-net-worth-tooltip {
    width: 13px;
    height: 13px;
    line-height: 13px;
    font-size: 10px;
  }
  .sgem-net-worth-inline .sgem-net-worth-plusminus input[type="text"] {
    width: 125px;
  }
}
@media (max-width: 380px) {
  .sgem-net-worth-inline .sgem-net-worth-plusminus input[type="text"] {
    width: 100px;
  }
}
@media (max-width: 356px) {
  .sgem-net-worth-inline .sgem-net-worth-plusminus input[type="text"] {
    width: 90px;
  }
}
@media (max-width: 337px) {
  .sgem-net-worth-inline .sgem-net-worth-plusminus input[type="text"] {
    width: 80px;
  }
}
/* Surge end - Dileepa */
