/* Surge start  */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
.tooltipster-fall,.tooltipster-grow.tooltipster-show{-webkit-transition-timing-function:cubic-bezier(.175,.885,.32,1);-moz-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);-ms-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);-o-transition-timing-function:cubic-bezier(.175,.885,.32,1.15)}.tooltipster-base{display:flex;pointer-events:none;position:absolute}.tooltipster-box{flex:1 1 auto}.tooltipster-content{box-sizing:border-box;max-height:100%;max-width:100%;overflow:auto}.tooltipster-ruler{bottom:0;left:0;overflow:hidden;position:fixed;right:0;top:0;visibility:hidden}.tooltipster-fade{opacity:0;-webkit-transition-property:opacity;-moz-transition-property:opacity;-o-transition-property:opacity;-ms-transition-property:opacity;transition-property:opacity}.tooltipster-fade.tooltipster-show{opacity:1}.tooltipster-grow{-webkit-transform:scale(0,0);-moz-transform:scale(0,0);-o-transform:scale(0,0);-ms-transform:scale(0,0);transform:scale(0,0);-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform;-webkit-backface-visibility:hidden}.tooltipster-grow.tooltipster-show{-webkit-transform:scale(1,1);-moz-transform:scale(1,1);-o-transform:scale(1,1);-ms-transform:scale(1,1);transform:scale(1,1);-webkit-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);transition-timing-function:cubic-bezier(.175,.885,.32,1.15)}.tooltipster-swing{opacity:0;-webkit-transform:rotateZ(4deg);-moz-transform:rotateZ(4deg);-o-transform:rotateZ(4deg);-ms-transform:rotateZ(4deg);transform:rotateZ(4deg);-webkit-transition-property:-webkit-transform,opacity;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform}.tooltipster-swing.tooltipster-show{opacity:1;-webkit-transform:rotateZ(0);-moz-transform:rotateZ(0);-o-transform:rotateZ(0);-ms-transform:rotateZ(0);transform:rotateZ(0);-webkit-transition-timing-function:cubic-bezier(.23,.635,.495,1);-webkit-transition-timing-function:cubic-bezier(.23,.635,.495,2.4);-moz-transition-timing-function:cubic-bezier(.23,.635,.495,2.4);-ms-transition-timing-function:cubic-bezier(.23,.635,.495,2.4);-o-transition-timing-function:cubic-bezier(.23,.635,.495,2.4);transition-timing-function:cubic-bezier(.23,.635,.495,2.4)}.tooltipster-fall{-webkit-transition-property:top;-moz-transition-property:top;-o-transition-property:top;-ms-transition-property:top;transition-property:top;-webkit-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);transition-timing-function:cubic-bezier(.175,.885,.32,1.15)}.tooltipster-fall.tooltipster-initial{top:0!important}.tooltipster-fall.tooltipster-dying{-webkit-transition-property:all;-moz-transition-property:all;-o-transition-property:all;-ms-transition-property:all;transition-property:all;top:0!important;opacity:0}.tooltipster-slide{-webkit-transition-property:left;-moz-transition-property:left;-o-transition-property:left;-ms-transition-property:left;transition-property:left;-webkit-transition-timing-function:cubic-bezier(.175,.885,.32,1);-webkit-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);-moz-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);-ms-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);-o-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);transition-timing-function:cubic-bezier(.175,.885,.32,1.15)}.tooltipster-slide.tooltipster-initial{left:-40px!important}.tooltipster-slide.tooltipster-dying{-webkit-transition-property:all;-moz-transition-property:all;-o-transition-property:all;-ms-transition-property:all;transition-property:all;left:0!important;opacity:0}@keyframes tooltipster-fading{0%{opacity:0}100%{opacity:1}}.tooltipster-update-fade{animation:tooltipster-fading .4s}@keyframes tooltipster-rotating{25%{transform:rotate(-2deg)}75%{transform:rotate(2deg)}100%{transform:rotate(0)}}.tooltipster-update-rotate{animation:tooltipster-rotating .6s}@keyframes tooltipster-scaling{50%{transform:scale(1.1)}100%{transform:scale(1)}}.tooltipster-update-scale{animation:tooltipster-scaling .6s}.tooltipster-sidetip .tooltipster-box{background:#565656;border:2px solid #000;border-radius:4px}.tooltipster-sidetip.tooltipster-bottom .tooltipster-box{margin-top:8px}.tooltipster-sidetip.tooltipster-left .tooltipster-box{margin-right:8px}.tooltipster-sidetip.tooltipster-right .tooltipster-box{margin-left:8px}.tooltipster-sidetip.tooltipster-top .tooltipster-box{margin-bottom:8px}.tooltipster-sidetip .tooltipster-content{color:#fff;line-height:18px;padding:6px 14px}.tooltipster-sidetip .tooltipster-arrow{overflow:hidden;position:absolute}.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow{height:10px;margin-left:-10px;top:0;width:20px}.tooltipster-sidetip.tooltipster-left .tooltipster-arrow{height:20px;margin-top:-10px;right:0;top:0;width:10px}.tooltipster-sidetip.tooltipster-right .tooltipster-arrow{height:20px;margin-top:-10px;left:0;top:0;width:10px}.tooltipster-sidetip.tooltipster-top .tooltipster-arrow{bottom:0;height:10px;margin-left:-10px;width:20px}.tooltipster-sidetip .tooltipster-arrow-background,.tooltipster-sidetip .tooltipster-arrow-border{height:0;position:absolute;width:0}.tooltipster-sidetip .tooltipster-arrow-background{border:10px solid transparent}.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background{border-bottom-color:#565656;left:0;top:3px}.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-background{border-left-color:#565656;left:-3px;top:0}.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-background{border-right-color:#565656;left:3px;top:0}.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background{border-top-color:#565656;left:0;top:-3px}.tooltipster-sidetip .tooltipster-arrow-border{border:10px solid transparent;left:0;top:0}.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border{border-bottom-color:#000}.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border{border-left-color:#000}.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-border{border-right-color:#000}.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border{border-top-color:#000}.tooltipster-sidetip .tooltipster-arrow-uncropped{position:relative}.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-uncropped{top:-10px}.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-uncropped{left:-10px}

.sgem-compound-interest-cal-1 .sgem-compound-interest-form-group label, .sgem-compound-interest-cal-1 input[type="text"], .sgem-compound-interest-cal-1-result .sgem-compound-interest-result-panel-header, .sgem-compound-interest-percentage-note, [data-tippy-root], .sgem-compound-interest-cal-1 summary {
    font-family: 'DM Sans', sans-serif;
}

.sgem-compound-interest-total-label.sgem-compound-interest-for-desk {
  font-size: 20px;
}

.sgem-compound-interest-cal-main-id {
  max-width: 1240px;
  margin: 0 auto;
   font-family: 'DM SANS';
  }


.sgem-compound-interest-cal-wrapper * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.sgem-compound-interest-cal-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 8px 8px;
  background-color: #f3f3f3;
}
 .sgem-compound-interest-logo-center {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 13px;
  padding-right: 5px;
  padding-top: 15px;
}
.sgem-compound-interest-logo-image {
    color: rgb(21, 105, 176);
}

.sgem-compound-interest-cal-left {
  width: 470px;
  padding: 20px;
} 
.sgem-compound-interest-cal-right {
  width: 755px;
  background-color: #FFFFFF;
  display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sgem-compound-interest-cal-1-result-wrapper {
  padding: 32px 40px;
  position: relative;
}
.sgem-compound-interest-cal-1 .sgem-compound-interest-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  position: relative;
  justify-content: space-between;
  /*align-items: flex-end;*/
}
.sgem-compound-interest-cal-1 .sgem-compound-interest-flex-container .sgem-compound-interest-form-flex {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  padding-bottom: 28px;
  position: relative;
  padding-right: 24px;
}
.sgem-compound-interest-cal-1 .sgem-compound-interest-form-group {
    margin: 0px !important;
    padding: 0px;
}
.sgem-compound-interest-cal-1 .sgem-compound-interest-form-group label {
  font-size: 16px;
  font-weight: normal;
  color: #000;
  font-family: 'DM Sans',Helvetica,Arial,Lucida,sans-serif;
  margin-bottom: 8px; 
  line-height: 21px;
}
.sgem-compound-interest-cal-1 input[type="text"] {
  font-family: 'DM Sans',sans-serif;
  font-size: 16px;
  height: 55px;
  padding: 17px 16px;
  width: 200px;
  color: #002340;
  border:  1px solid #bbb;
  background: #fff;
}
.sgem-compound-interest-cal-left .sgem-compound-interest-cal-1 .sgem-compound-interest-basic-full-width {
  width: 424px;
}
.sgem-compound-interest-cal-1 input[type="text"]:focus{
  outline: none !important;
  border: 1px solid #2d3940;
}

.sgem-compound-interest-cal-1 .sgem-compound-interest-group-option-l {
    padding-left: 0px !important;
}
.sgem-compound-interest-cal-1 .sgem-compound-interest-group-option-r {
    padding-right: 0px !important;
} 
.sgem-compound-interest-collapsible-summary-title {
  font-family: 'DM Sans',Helvetica,Arial,Lucida,sans-serif;
  font-size: 20px;
  color: #000000;
  font-weight: 500;
  margin-block-start: 20px;
  margin-block-end: 20px;
  margin: 0;
    padding: 0;
}
.sgem-compound-interest-cal-1 .sgem_compound_interest_err_style {
  color: #FF5964;
  font-size: 13px;
}
.sgem-compound-interest-cal-1 .sgem-compound-interest-form-flex.sgem-compound-interest-precentage-holder::before {
  content: '%';
  position: absolute;
  right: 36px;
  top: 46px;
  display: block;
  color: #A3A3A3;
  font-weight: 400;
  font-size: 16px;
}
.sgem-compound-interest-cal-1 .sgem-compound-interest-form-flex.sgem-compound-interest-years-holder::before {
  content: 'Years';
  position: absolute;
  right: 36px;
  top: 46px;
  display: block;
  color: #A3A3A3;
  font-weight: 400;
  font-size: 16px;
}
.sgem-compound-interest-cal-1 .sgem-compound-interest-form-flex.sgem-compound-interest-currency-holder::after {
  content: '$';
  position: absolute;
  left: 16px;
  top: 46px;
  display: block; 
  color: #A3A3A3;
  font-weight: 400;
  font-size: 16px;
}
.sgem-compound-interest-cal-1 .sgem-compound-interest-form-flex.sgem-compound-interest-currency-holder input[type="text"] {
  padding-left: 33px;
}
 
.sgem-compound-interest-cal-1 details.sgem-compound-interest-input-more-details {
  border-top: 1px solid #BEBEBE;
  display: block;
  margin-top: 12px;
}
.sgem-compound-interest-cal-1 summary {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 20px;
  cursor:pointer;
}
.sgem-compound-interest-cal-1 h3.collapsible-summary-title {
  font-size: 20px;
  color: #000000;
  padding-bottom: 0;
}
.sgem-compound-interest-cal-1 details.sgem-compound-interest-input-more-details > summary::marker, 
.sgem-compound-interest-cal-1 details.sgem-compound-interest-input-more-details > summary::-webkit-details-marker {
   display: none;
}
.sgem-compound-interest-cal-1 details.sgem-compound-interest-input-more-details > summary::-moz-list-bullet {
    list-style-type: none;
    list-style: none;
    display: none;
}
.sgem-compound-interest-cal-1 details.sgem-compound-interest-input-more-details > summary::after {
  content: ' ';
  width: 25px;
  height: 24px;
  display: inline-block; 
  background-repeat: no-repeat;
  background-position: center -5px;
  background-size: 25px;
  background-image: url('https://retirementinvestments.github.io/sgem-compound-interest-calculator/assets/images/drop-down-arrow-ci.svg');
}
.sgem-compound-interest-cal-1 details[open] > summary::after {
  -moz-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  background-position: center 5px; 
}
.sgem-compound-interest-cal-main-id details.sgem-compound-interest-details-disclaimer > summary::after {
    content: " ";
    width: 25px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center -2px;
    background-size: 25px;
    background-image: url(https://retirementinvestments.github.io/sgem-compound-interest-calculator/assets/images/drop-down-arrow-ci.svg);
    margin-top: 5px;
}
.sgem-compound-interest-cal-main-id details.sgem-compound-interest-details-disclaimer[open] > summary::after {
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    background-position: center 1px;
}
.sgem-compound-interest-details-disclaimer summary {
  display: inline-flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin-top: 32px;
    margin-bottom: 8px;
    cursor: pointer;
}
.sgem-compound-interest-details-disclaimer summary span.sgem-compound-interest-disclaimer {
  font-family: 'DM Sans',sans-serif;
  color: #002340;
    font-size: 16px;
    line-height: 21px;
}
.sgem-compound-interest-details-disclaimer .sgem-compound-interest-collapsible-text-disclaimer {
  font-family: 'DM Sans',sans-serif;
  font-size: 16px;
    color: #474747;
    font-weight: 300;
}
.sgem-compound-interest-cal-1-result-header {
  font-family: 'DM Sans',Helvetica,Arial,Lucida,sans-serif;
  font-size: 20px;
  color: #000000;
  margin-bottom: 38px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.sgem-compound-interest-cal-1-result-wrapper .sgem-compound-interest-column2 {
  width: 480px;
}
.sgem-compound-interest-column2 .sgem-result-value {
  color: #1A1A1A;
}
.sgem-compound-interest-cal-1-result-wrapper .sgem-compound-interest-flex-container .sgem-compound-interest-form-flex {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  flex: 1 0 33%;
  padding-bottom: 40px;
}  
.sgem-compound-interest-cal-1-result-wrapper .sgem-compound-interest-result-label {
  text-align: left;
  font-size: 32px;
  font-family: 'DM Serif Display', serif;
  letter-spacing: 0px;
  color: #002340; 
  line-height: 58px; 
}
.sgem-compound-interest-cal-1-result-wrapper .sgem-compound-interest-column2 { 
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
 
.sgem-compound-interest-cal-1-result-wrapper .sgem-compound-interest-result-value {
  font-size: 16px;
  text-align: left;
  line-height: 21px;
  letter-spacing: 0px;
  color: #1A1A1A; 
  font-weight: 300;
} 
.sgem-compound-interest-logo-wrapper {
  position: absolute;
  right: 5px;
  top: 5px; 
}
.sgem-compound-interest-cal-1-result .sgem-compound-interest-result-panel {
    background: #FFFFFF 0% 0% no-repeat padding-box;
  -moz-box-shadow: 0px 5px 20px #0000001A;
  -webkit-box-shadow: 0px 5px 20px #0000001A;
  -o-box-shadow: 0px 5px 20px #0000001A;
  box-shadow: 0px 5px 20px #0000001A;
  opacity: 1;
    padding-top:24px;
}
.sgem-compound-interest-cal-1-result .sgem-compound-interest-result-panel-header {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase; 
 }
.sgem-compound-interest-cal-1-result .sgem-compound-interest-result-panel-goal {
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  font-family: 'DM Serif Display', serif;
  line-height: 36px;
  letter-spacing: 0px;
  color: #002340;
  padding-top: 16px;
  padding-bottom: 24px;
  position: relative;
  min-height: 80px;
  width: 100%;
}
.sgem-compound-interest-cal-1-result .sgem-compound-interest-flex-container-2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 32px;
  position: relative;
  overflow: hidden;
}
.sgem-compound-interest-cal-1-result .sgem-compound-interest-flex-container-2 .sgem-compound-interest-form-flex-2 {
    display: flex;
    flex-direction: column;
}
.sgem-compound-interest-cal-1-result .sgem-compound-interest-result-score-label {
  border: 1px solid rgba(0,1,255,0);
  font-size: 16px;
    color: #012341;
    font-family: DM Sans;
    font-weight: 400;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sgem-compound-interest-cal-1-result .sgem-compound-interest-needAtt {    
    background-color: #FF5964;    
}
.sgem-compound-interest-cal-1-result .sgem-compound-interest-onWay {
    background-color: #FFC12E;
}
.sgem-compound-interest-cal-1-result .sgem-compound-interest-getClose {
    background-color: #1E96FC;
}
.sgem-compound-interest-cal-1-result .sgem-compound-interest-onTrack {
    background-color: #4BCC8C;
}
.sgem-compound-interest-cal-1-result-footer {
  font-family: 'DM Sans',Helvetica,Arial,Lucida,sans-serif;
  font-size: 16px ;
  color: #474747;
  font-weight: 300; 
}
.sgem-compound-interest-buttonGet{
  margin-top: 32px;
  display: flex;
}
.sgem-compound-interest-cal-1-result-footer .sgem-compound-interest-getStart {
  font-family: 'DM Sans',sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0px;
  color: #002340;
  text-transform: uppercase;
  background: #FFC12E;
  opacity: 1;
  border: 0px;
  padding: 16px 42px;
  text-decoration: none;
  cursor:pointer;
}
.sgem-compound-interest-cal-1-result-footer .sgem-compound-interest-getStart:hover {
    background-color: #ffd061;
    color: #002340;
}


.sgem-compound-interest-cal-1 .sgem-compound-interest-cal-btn {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0px;
  color: #002340;
  text-transform: uppercase;
  background: #4BCC8C;
  opacity: 1;
  border: 0px;
  padding: 16px 42px;
  display: block;
  width: 188px;
  height: 53px;
  margin-top: 50px;
  cursor:pointer;
}
.sgem-compound-interest-result-goal-text {
  position: relative; 
  width: 100%;
  -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; 
}
/*.sgem-compound-interest-result-goal-text::after {
  position: absolute;
  top: 60px;
  left: 37%;
  content: '';
  width: 0;
  height: 0;
  border-top: solid 15px white;
  border-left: solid 15px transparent;
  border-right: solid 15px transparent;
} 
.sgem-compound-interest-result-goal-text.pos-1::after {
  left: 10%;
}
.sgem-compound-interest-result-goal-text.pos-2::after {
  left: 35%;
}
.sgem-compound-interest-result-goal-text.pos-3::after {
  left: 59%;
}
.sgem-compound-interest-result-goal-text.pos-4::after {  
  left: 84%;
}*/ 
.sgem-compound-interest-err-msg {
  color: #ff5964;
  font-weight: 300;
  font-size: 12px;
  display: none;
  line-height: 15px;
}

/* Chrome, Safari, Edge, Opera for input type numbers (if exist) to remove up down arrows */
.sgem-compound-interest-cal-wrapper input::-webkit-outer-spin-button,
.sgem-compound-interest-cal-wrapper input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
.sgem-compound-interest-cal-wrapper input[type=number] {
   -moz-appearance: textfield;
}

.sgem-compound-interest-percentage-note {
    font-size: 13px;
    font-weight: 400;
    color: #000; 
    margin-top: 4px;
}
[data-tippy-root] {
  max-width: 250px;
  -moz-box-shadow: 0 4px 8px 0 rgba(100,102,106,.15),0 8px 16px 0 rgba(100,102,106,.33);
  -webkit-box-shadow: 0 4px 8px 0 rgba(100,102,106,.15),0 8px 16px 0 rgba(100,102,106,.33);
  box-shadow: 0 4px 8px 0 rgba(100,102,106,.15),0 8px 16px 0 rgba(100,102,106,.33);
}

[data-tippy-content] {
  font-family: 'DM Sans',Helvetica,Arial,Lucida,sans-serif;
  font-size: 14px;
  
}

.tippy-popper {
  font-family: 'DM Sans',Helvetica,Arial,Lucida,sans-serif;
  
}

.sgem-compound-interest-tooltip {
  border: 1px solid #000;
  width: 18px;
  height: 18px;
  border-radius: 50px;
  line-height: 18px;
  font-size: 11px;
  display: inline-block;
  text-align: center;
  cursor: pointer !important;
  font-family: 'DM Sans',Helvetica,Arial,Lucida,sans-serif;
}
.tippy-popper {
  font-family: 'DM Sans',Helvetica,Arial,Lucida,sans-serif;
  font-size: 11px;
  max-width: 250px;
}
.sgem-compound-interest-precentage-arrow {
  position: absolute; 
  border-top: solid 15px white;
  border-left: solid 15px transparent;
  border-right: solid 15px transparent;
  content: '';
  width: 0;
  height: 0;
  left: 29.8154%;
  margin-left: -15px;
  -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; 
}
  .sgem-compound-interest-err-msg-rmt {
    color: #ff5964;
    font-weight: 300;
    font-size: 13px;
    display: none;
} 

 .sgem-compound-interest-form-flex-needAtt {
    width:38%;
    flex-basis: 38%;
  }
  .sgem-compound-interest-form-flex-onWay {
    width:27%;
    flex-basis: 27%;
  }
  .sgem-compound-interest-form-flex-getClose {
    width:20%;
    flex-basis: 20%;
  }
  .sgem-compound-interest-form-flex-onTrack {
    width:15%;
    flex-basis: 15%;
  }


.sgem-compound-interest-common-err-msg {
  color: #ff5964;
  font-weight: 300;
  font-size: 13px;
  line-height: 17px;
}

  .sgem-compound-interest-err-msg-rmt {
    color: #ff5964;
    font-weight: 300;
    font-size: 13px;
 
}
.sgem-compound-interest-err-msg-age {
    color: #ff5964;
    font-weight: 300;
    font-size: 13px;
    display: none;
}
.sgem-compound-interest-err-msg-per{
    color: #ff5964;
    font-weight: 300;
    font-size: 13px;  
}
.sgem-compound-interest-err-msg-death{
    color: #ff5964;
    font-weight: 300;
    font-size: 13px;  
}
.sgem-compound-interest-err-msg-income{
    color: #ff5964;
    font-weight: 300;
    font-size: 13px;  
}
.sgem-compound-interest-err-msg-current{
    color: #ff5964;
    font-weight: 300;
    font-size: 13px;  
}


/* Right Section */
.sgem-compound-interest-balance-text {
  font-size: 42px;
  font-family: 'DM Serif Display', serif;
    margin-right: 16px;
}
.sgem-compound-interest-balance-text span {
  font-size: 20px;
    color: #002340;
}
.sgem-compound-interest-chartCard {
  padding-bottom: 40px;
}

 .sgem-compound-interest-legendbox {
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    font-size: 14px;
  }
  .sgem-compound-interest-legend-item {
    display: flex;
    cursor:pointer;
    align-items: center;
    height: 18px;
  }
  .sgem-compound-interest-legend-item:nth-child(1) {
    margin-bottom: 8px;
  }
  .sgem-compound-principle {
    border:0px;
    padding: 0px;
    width: 18px;
    height: 18px;
    margin-right:16px;
  }
  .sgem-compound-interest-interest {
    border:0px;
    padding: 0px;
    width: 18px;
    height: 18px;
    margin-right:16px;
  }

/* Message Title*/
  
  #messagetitle{
    font-size: 24px;
    font-weight: 500;
    color: #000;
    font-family: 'DM Sans',Helvetica,Arial,Lucida,sans-serif;
    margin-bottom: 16px;
    display: inline-block;
  }

  #mainmessage {
    font-size: 24px;
    font-weight: 500;
    font-family: 'DM Sans',Helvetica,Arial,Lucida,sans-serif;
    margin-bottom: 16px;
    color:#FF5964;
    display: inline-block;
  }


/* Advance tab*/ 
  .sgem-compound-interest-drop-selection {
    font-size: 15px;
    height: 55px;
    padding: 16px 12px;
    width: 200px;
    color: #002340;
    border:  1px solid #bbb;
    background-color: #fff;
    font-family: 'DM Sans',Helvetica,Arial,Lucida,sans-serif;
  }




.sgem-compound-interest-checkbox input[type=checkbox] {
    margin: 0px;
    width:20px;
    height:20px;
  }
  .sgem-compound-interest-checkbox {
    background-color: #fff;
    font-size: 16px;
    height: 55px;
    padding: 14px 10px;
    width: 200px;
    color: #002340;
    border: 1px solid #bbb;
    display: flex;
    justify-content: space-between;
  }
  .sgem-compound-interest-plusminus {
    width: 200px;
  display: flex;
    border: 1px solid #bbb;
  justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #fff;
  } 
  .sgem-compound-interest-inline .sgem-compound-interest-plusminus .sgem-compound-interest-midvalue {
    width:150px;
    border-right: 1px;
    border-left: 1px;
    border-color: #bbb;
    border-style: solid;
    border-bottom-width: 0px;
    border-top-width: 0px;
  }
  
  .sgem-compound-interest-minus, .sgem-compound-interest-plus{
      cursor:pointer;
}     



/* tippytheme box*/
.sgem-compound-interest-goal-tooltip{
  text-align:center;
  cursor:pointer;
}
  .tippy-box[data-theme~="sgem-compound-interest-goal"] {
    font-size: 20px;
    background-color: #fff;
    color:#000;
    border: 1px solid #b1b3b5;
    padding: 0.5rem 1rem;
    -webkit-box-shadow: 0 4px 8px 0 rgb(100 102 106 / 15%), 0 8px 16px 0 rgb(100 102 106 / 33%);
    box-shadow: 0 4px 8px 0 rgb(100 102 106 / 15%), 0 8px 16px 0 rgb(100 102 106 / 33%);
  }

.sgem-compound-interest-goal-tooltip-range-to-NeedAtt {
  color:#FF5964;
  font-size: 15px;
}
.sgem-compound-interest-goal-tooltip-range-to-onWay {
  color:#FFC12E;
  font-size: 15px;
}
.sgem-compound-interest-goal-tooltip-range-to-getClose {
  color:#1E96FC;
  font-size: 15px;
}
.sgem-compound-interest-goal-tooltip-range-to-onTrack {
  color:#4BCC8C;
  font-size: 15px;
}
  
.tippy-box[data-theme~="sgem-compound-interest-goal"][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: #fff;
}
.tippy-box[data-theme~="sgem-compound-interest-goal"][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: #fff;
}
.tippy-box[data-theme~="sgem-compound-interest-goal"][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: #fff;
}
.tippy-box[data-theme~="sgem-compound-interest-goal"][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: #fff;
}
.img-class {
    width:  215px;
    height:  24px;
  }  

/* desktop show / hide */
.sgem-compound-interest-cal-main-id .sgem-compound-interest-for-mob {
  display: none;
}

/* embed copy section */
.sgem-compound-interest-copy-option-panel h3 {
    font-family: "DM Sans", Helvetica, Arial, Lucida, sans-serif;
    margin-bottom: 16px;
    font-size: 20px;
    color: #000;
    padding-bottom: 5px;
    font-weight: 500;
}
.sgem-compound-interest-copy-code {
  font-family: 'DM Sans',sans-serif;
    background: #ffc12e;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    color: #002340;
    text-transform: uppercase;
    border: 0;
    display: block;
    height: 53px;
    text-align: center;
    text-decoration: none;
    padding: 0.3em 1em;
    line-height: 1.5em !important;
    cursor: pointer;
    width: auto;
}
.sgem-compound-interest-copy-code:hover {
  background-color: #ffd061;
  color: #002340;
}
.sgem-compound-interest-copy-option-panel {
    margin-top: 25px;
}
.sgem-compound-interest-cal-main-id .sgem-compound-interest-header-title-box {
  color: #002340;
}

/* radio button styles */

input#sgem-compound-interest-cal-tab1, 
input#sgem-compound-interest-cal-tab2,
input#sgem-compound-interest-cal-tab3,
input#sgem-compound-interest-cal-tab4,
input#sgem-compound-interest-cal-tab5,
input#sgem-compound-interest-cal-tab6 {
    margin: 0;
    width: 20px;
    height: 20px;
    position: relative;
    top: 4px;
    left: 0px;
}
input#sgem-compound-interest-cal-tab1:checked, 
input#sgem-compound-interest-cal-tab2:checked,
input#sgem-compound-interest-cal-tab3:checked,
input#sgem-compound-interest-cal-tab4:checked,
input#sgem-compound-interest-cal-tab5:checked,
input#sgem-compound-interest-cal-tab6:checked {
    margin: 0;
    width: 15px;
    height: 15px;
    position: relative;
  top: 2px;
  left: 1px;
  margin-right: 5px;
}

.sgem-compound-interest-form-checkbox-style-tic1, 
.sgem-compound-interest-form-checkbox-style-tic2, 
.sgem-compound-interest-form-checkbox-style-tic3, 
.sgem-compound-interest-form-checkbox-style-tic4, 
.sgem-compound-interest-form-checkbox-style-tic5,
.sgem-compound-interest-form-checkbox-style-tic6, 
#sgem-compound-interest-cal-tab2, 
#sgem-compound-interest-cal-tab1,
#sgem-compound-interest-cal-tab3,
#sgem-compound-interest-cal-tab4,
#sgem-compound-interest-cal-tab5,
#sgem-compound-interest-cal-tab6 {
    position: relative;
    cursor: pointer;
}
.sgem-compound-interest-cal-tabs input#sgem-compound-interest-cal-tab1:checked ~ .sgem-compound-interest-form-checkbox-style-tic1:before {
    content: url(https://retirementinvestments.github.io/sgem-compound-interest-calculator/assets/images/fill-green-tic.svg);
    position: absolute;
    right: 0px;
    top: -1px;
}
.sgem-compound-interest-cal-tabs input#sgem-compound-interest-cal-tab2:checked ~ .sgem-compound-interest-form-checkbox-style-tic2:before {
    content: url(https://retirementinvestments.github.io/sgem-compound-interest-calculator/assets/images/fill-green-tic.svg);
    position: absolute;
    right: 3px;
    top: -1px;
}
.sgem-compound-interest-cal-tabs input#sgem-compound-interest-cal-tab3:checked ~ .sgem-compound-interest-form-checkbox-style-tic3:before {
    content: url(https://retirementinvestments.github.io/sgem-compound-interest-calculator/assets/images/fill-green-tic.svg);
    position: absolute;
    right: 0px;
    top: -1px;
}
.sgem-compound-interest-cal-tabs input#sgem-compound-interest-cal-tab4:checked ~ .sgem-compound-interest-form-checkbox-style-tic4:before {
    content: url(https://retirementinvestments.github.io/sgem-compound-interest-calculator/assets/images/fill-green-tic.svg);
    position: absolute;
    right: 4px;
    top: -1px;
}
.sgem-compound-interest-cal-tabs input#sgem-compound-interest-cal-tab5:checked ~ .sgem-compound-interest-form-checkbox-style-tic5:before {
    content: url(https://retirementinvestments.github.io/sgem-compound-interest-calculator/assets/images/fill-green-tic.svg);
    position: absolute;
    right: 4px;
    top: -1px;
}
.sgem-compound-interest-cal-tabs input#sgem-compound-interest-cal-tab6:checked ~ .sgem-compound-interest-form-checkbox-style-tic6:before {
    content: url(https://retirementinvestments.github.io/sgem-compound-interest-calculator/assets/images/fill-green-tic.svg);
    position: absolute;
    right: 0px;
    top: -1px;
}
.sgem-compound-interest-form-checkbox-style-tic6 {
    margin-right: 5px;
}
.sgem-compound-interest-cal-tabs.sgem-compound-interest-cal-radio-btns {
  display: block;
    margin-bottom: 28px;
}
.sgem-compound-interest-label-tabs-check {
  font-family: 'DM Sans',sans-serif;
    margin-right: 32px;
    margin-left: 2px;
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
}
.sgem-compound-interest-cal-radio-btns-sec .sgem-compound-interest-label-tabs-check {
    margin-right: 32px;
}
.sgem-compound-interest-cal-radio-btns form {
  margin-top: 16px;
}
.sgem-compound-interest-cal-radio-btns > label {
  font-family: 'DM Sans',sans-serif;
    font-size: 16px;
    color: #474747;
    font-weight: 300;
    line-height: 21px;
}
/* tabs end */

/* max width css (add class js) */
.sgem-compound-interest-cal-left-add-class input#sgem-compound-interest-cal-tab1:checked, 
.sgem-compound-interest-cal-left-add-class input#sgem-compound-interest-cal-tab2:checked, 
.sgem-compound-interest-cal-left-add-class input#sgem-compound-interest-cal-tab3:checked, 
.sgem-compound-interest-cal-left-add-class input#sgem-compound-interest-cal-tab4:checked, 
.sgem-compound-interest-cal-left-add-class input#sgem-compound-interest-cal-tab5:checked, 
.sgem-compound-interest-cal-left-add-class input#sgem-compound-interest-cal-tab6:checked {
    width: 13px;
    height: 13px;
}
.sgem-compound-interest-cal-left-add-class .sgem-compound-interest-cal-tabs input#sgem-compound-interest-cal-tab2:checked ~ .sgem-compound-interest-form-checkbox-style-tic2:before,
.sgem-compound-interest-cal-left-add-class .sgem-compound-interest-cal-tabs input#sgem-compound-interest-cal-tab5:checked ~ .sgem-compound-interest-form-checkbox-style-tic5:before,
.sgem-compound-interest-cal-left-add-class .sgem-compound-interest-cal-tabs input#sgem-compound-interest-cal-tab3:checked ~ .sgem-compound-interest-form-checkbox-style-tic3:before {
    right: 3px;
    top: 0px;
}
.sgem-compound-interest-cal-left-add-class .sgem-compound-interest-cal-tabs input#sgem-compound-interest-cal-tab1:checked ~ .sgem-compound-interest-form-checkbox-style-tic1:before,
.sgem-compound-interest-cal-left-add-class .sgem-compound-interest-cal-tabs input#sgem-compound-interest-cal-tab6:checked ~ .sgem-compound-interest-form-checkbox-style-tic6:before  {
    right: -2px;
    top: 0px;
}

.sgem-compound-interest-cal-left.sgem-compound-interest-cal-left-add-class {
  width: 33%;
}
.sgem-compound-interest-cal-right.sgem-compound-interest-cal-right-add-class {
  width: 67%;
}
.sgem-compound-interest-cal-right-add-class .sgem-compound-interest-cal-1 .sgem-compound-interest-flex-container {
  display: block;
}
.sgem-compound-interest-cal-wrapper .sgem-compound-interest-cal-left-add-class {
  padding: 12px;
    padding-right: 20px;
}
.sgem-compound-interest-cal-right-add-class .sgem-compound-interest-cal-1-result-wrapper {
    padding: 20px 20px;
    position: relative;
}
.sgem-compound-interest-cal-left-add-class .sgem-compound-interest-cal-1 .sgem-compound-interest-form-group label {
  font-size: 0.8em;
}
.sgem-compound-interest-cal-left-add-class .sgem-compound-interest-cal-1 input[type="text"] {
  font-size: 0.8em;
  height: 45px;
  width: 100%;
}
.sgem-compound-interest-cal-left-add-class .sgem-compound-interest-cal-1 .sgem-compound-interest-flex-container .sgem-compound-interest-form-flex {
  padding-right: 0;
}
.sgem-compound-interest-cal-left-add-class .sgem-compound-interest-cal-1 .sgem-compound-interest-flex-container {
    display: block;
}
.sgem-compound-interest-cal-left-add-class .sgem-compound-interest-cal-1 .sgem-compound-interest-form-flex.sgem-compound-interest-years-holder::before {
  font-size: 0.8em;
  top: 43px;
}
.sgem-compound-interest-cal-left-add-class .sgem-compound-interest-cal-1 .sgem-compound-interest-form-flex.sgem-compound-interest-years-holder::before {
    font-size: 0.8em;
    top: 39px;
    right: 18px;
}
.sgem-compound-interest-cal-left-add-class .sgem-compound-interest-cal-1 .sgem-compound-interest-form-flex.sgem-compound-interest-precentage-holder::before {
    right: 18px;
    top: 41px;
    font-size: 0.8em;
}
.sgem-compound-interest-cal-left-add-class .sgem-compound-interest-cal-1 .sgem-compound-interest-form-flex.sgem-compound-interest-currency-holder::after {
    top: 42px;
    font-size: 0.8em;
}
.sgem-compound-interest-cal-right-add-class .sgem-compound-interest-details-disclaimer .sgem-compound-interest-collapsible-text-disclaimer {
    font-size: 14px;
}
.sgem-compound-interest-cal-right-add-class .sgem-compound-interest-total-label.sgem-compound-interest-for-desk {
    font-size: 0.8em;
    display: block;
}
.sgem-compound-interest-cal-left-add-class .sgem-compound-interest-drop-selection {
  font-size: 0.8em;
  height: 45px;
  width: 100%;
  padding: 14px 12px;
}
.sgem-compound-interest-cal-left-add-class .sgem-compound-interest-cal-1 {
  height: 785px;
    overflow: hidden;
    overflow-y: scroll;
}
.sgem-compound-interest-cal-left-add-class .sgem-compound-interest-collapsible-summary-title {
  font-size: 0.8em;
  padding: 0;
}
.sgem-compound-interest-cal-left-add-class .sgem-compound-interest-tooltip {
    width: 15px;
    height: 15px; 
    line-height: 15px; 
}
.sgem-compound-interest-cal-1::-webkit-scrollbar {
    width: 0px;
}
.sgem-compound-interest-cal-left-add-class .sgem-compound-interest-cal-radio-btns > label {
  font-size: 0.8em;
}
.sgem-compound-interest-cal-left-add-class .sgem-compound-interest-label-tabs-check {
  font-size: 0.8em;
}
.sgem-compound-interest-cal-left-add-class .sgem-compound-interest-cal-radio-btns-sec .sgem-compound-interest-label-tabs-check {
    margin-right: 7px;
}
.sgem-compound-interest-cal-right-add-class .sgem-compound-interest-legend-item:nth-child(1) {
    margin-bottom: 8px;
    margin-right: 16px;
}
.sgem-compound-interest-cal-left-add-class .sgem-compound-interest-label-tabs-check {
  margin-right: 7px;
}

/* add js mobile css */
.sgem-compound-interest-wrapper-add-mobile .sgem-compound-interest-cal-left.sgem-compound-interest-cal-left-add-class {
    width: 100%;
}
.sgem-compound-interest-wrapper-add-mobile .sgem-compound-interest-cal-right {
    width: 100%;
}
.sgem-compound-interest-cal-wrapper.sgem-compound-interest-wrapper-add-mobile {
  display: block;
}
.sgem-compound-interest-wrapper-add-mobile .sgem-compound-interest-cal-left-add-class .sgem-compound-interest-cal-1 {
    height: auto;
    overflow: hidden;
    overflow-y: unset;
}
.sgem-compound-interest-wrapper-add-mobile .sgem-compound-interest-cal-left-add-class {
    padding: 0;
    padding-right: 0;
}
.sgem-compound-interest-wrapper-add-mobile .sgem-compound-interest-balance-text {
  font-size: 2em;
}
.sgem-compound-interest-wrapper-add-mobile .sgem-compound-interest-balance-retirement.sgem-compound-interest-for-desk {
    font-size: 0.875em;
}
.sgem-compound-interest-wrapper-add-mobile .sgem-compound-interest-details-disclaimer .sgem-compound-interest-collapsible-text-disclaimer {
  font-weight: 400;
  line-height: 18px;
  font-size: 14px;
  padding: 0;
  color: #474747;
}
.sgem-compound-interest-wrapper-add-mobile .sgem-compound-interest-collapsible-summary-disclaimer {
  font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    color: #474747;
}
.sgem-compound-interest-wrapper-add-mobile.sgem-compound-interest-cal-wrapper {
  padding: 15px;
}
.sgem-compound-interest-wrapper-add-mobile .sgem-compound-interest-cal-radio-btns form {
    margin-top: 5px;
}
.sgem-compound-interest-cal-main-id .sgem-compound-interest-wrapper-add-mobile .sgem-compound-interest-cal-left .sgem-compound-interest-cal-1 .sgem-compound-interest-basic-full-width {
  width: 100%;
}

.sgem-compound-interest-wrapper-add-mobile .sgem-compound-interest-cal-left-add-class .sgem-compound-interest-cal-1 .sgem-compound-interest-form-group label {
  font-size: 0.8em;
}
.sgem-compound-interest-wrapper-add-mobile .sgem-compound-interest-cal-left-add-class .sgem-compound-interest-cal-1 input[type="text"] {
  font-size: 0.8em;
}
.sgem-compound-interest-wrapper-add-mobile .sgem-compound-interest-cal-left-add-class .sgem-compound-interest-cal-1 .sgem-compound-interest-form-flex.sgem-compound-interest-years-holder::before {
  font-size: 0.8em;
}
.sgem-compound-interest-wrapper-add-mobile .sgem-compound-interest-cal-left-add-class .sgem-compound-interest-cal-1 .sgem-compound-interest-form-flex.sgem-compound-interest-years-holder::before {
    font-size: 0.8em;
}
.sgem-compound-interest-wrapper-add-mobile .sgem-compound-interest-cal-left-add-class .sgem-compound-interest-cal-1 .sgem-compound-interest-form-flex.sgem-compound-interest-precentage-holder::before {
    font-size: 0.8em;
}
.sgem-compound-interest-wrapper-add-mobile .sgem-compound-interest-cal-left-add-class .sgem-compound-interest-cal-1 .sgem-compound-interest-form-flex.sgem-compound-interest-currency-holder::after {
    font-size: 0.8em;
}
.sgem-compound-interest-wrapper-add-mobile .sgem-compound-interest-cal-left-add-class .sgem-compound-interest-cal-radio-btns > label {
    font-size: 0.8em;
}
.sgem-compound-interest-wrapper-add-mobile .sgem-compound-interest-cal-left-add-class .sgem-compound-interest-label-tabs-check {
    font-size: 0.8em;
}
/* end */

@media (max-width:1200px) {
  .sgem-compound-interest-cal-main-id .sgem-compound-interest-legendbox {
    width: 285px;
  }
  .sgem-compound-interest-cal-main-id .sgem-compound-interest-cal-left .sgem-compound-interest-form {
    height: 760px;
      overflow: hidden;
      overflow-y: scroll;
  }
  /* scrollbar width */
  .sgem-compound-interest-cal-main-id .sgem-compound-interest-cal-left .sgem-compound-interest-form::-webkit-scrollbar {
      width: 0px;
  }
  .sgem-compound-interest-cal-wrapper {
    flex-direction: row;
    width: auto;
  }
  .sgem-compound-interest-cal-left {
    width: 30%;
    padding-right: 30px;
  }
  .sgem-compound-interest-cal-right {
    width: 70%;
  } 
  .sgem-compound-interest-cal-1 input[type="text"] {
    width: 100%;
  } 
  .sgem-compound-interest-cal-1 .sgem-compound-interest-flex-container .sgem-compound-interest-form-flex:last-child {
    padding-right: 0;
  }
  .sgem-compound-interest-precentage-arrow {
      border-top: solid 12px white;
      border-left: solid 12px transparent;
      border-right: solid 12px transparent;
  }
  .sgem-compound-interest-age-text {
    font-size: 22px;
  }
  .sgem-compound-interest-cal-1 .sgem-compound-interest-basic-full-width {
      width: 100% !important;
  }
  .sgem-compound-interest-cal-main-id .sgem-compound-interest-cal-1 .sgem-compound-interest-flex-container {
    display: block;
  }
  .sgem-compound-interest-cal-main-id .sgem-compound-interest-cal-1 .sgem-compound-interest-flex-container .sgem-compound-interest-form-flex {
    padding-right: 0;
  }
  .sgem-compound-interest-cal-main-id .sgem-compound-interest-drop-selection {
    width: 100%;
  }
  .sgem-compound-interest-copy-option-panel {
      margin-top: 25px;
      padding: 15px;
  }
  .sgem-compound-interest-cal-left-add-class .sgem-compound-interest-cal-tabs input#sgem-compound-interest-cal-tab2:checked ~ .sgem-compound-interest-form-checkbox-style-tic2:before, .sgem-compound-interest-cal-left-add-class .sgem-compound-interest-cal-tabs input#sgem-compound-interest-cal-tab5:checked ~ .sgem-compound-interest-form-checkbox-style-tic5:before, .sgem-compound-interest-cal-left-add-class .sgem-compound-interest-cal-tabs input#sgem-compound-interest-cal-tab3:checked ~ .sgem-compound-interest-form-checkbox-style-tic3:before {
      right: 3px;
      top: -1px;
  }
  .sgem-compound-interest-cal-left-add-class .sgem-compound-interest-cal-tabs input#sgem-compound-interest-cal-tab1:checked ~ .sgem-compound-interest-form-checkbox-style-tic1:before, .sgem-compound-interest-cal-left-add-class .sgem-compound-interest-cal-tabs input#sgem-compound-interest-cal-tab6:checked ~ .sgem-compound-interest-form-checkbox-style-tic6:before {
      right: -2px;
      top: -1px;
  }
}

/* ******** ipad ************ */
@media (max-width:1024px) {
  .sgem-compound-interest-logo-wrapper {
      position: absolute;
      right: 5px;
      top: -7px;
  }
  .sgem-compound-interest-drop-selection {
      width: 100%;
  }
  .sgem-compound-interest-plusminus {
      width: 100%;
  } 
  .sgem-compound-interest-inline .sgem-compound-interest-plusminus .sgem-compound-interest-midvalue input[type="text"]{
      width:125px;
  }
  .sgem-compound-interest-checkbox {
      width: 100%;
      padding: 15px 18px;
  }
  span.sgem-compound-interest-radio-btn-span {
      display: block;
      margin-bottom: 6px;
  }
  .sgem-compound-interest-cal-left-add-class .sgem-compound-interest-cal-tabs input#sgem-compound-interest-cal-tab2:checked ~ .sgem-compound-interest-form-checkbox-style-tic2:before, .sgem-compound-interest-cal-left-add-class .sgem-compound-interest-cal-tabs input#sgem-compound-interest-cal-tab5:checked ~ .sgem-compound-interest-form-checkbox-style-tic5:before, .sgem-compound-interest-cal-left-add-class .sgem-compound-interest-cal-tabs input#sgem-compound-interest-cal-tab3:checked ~ .sgem-compound-interest-form-checkbox-style-tic3:before {
      right: 3px;
      top: -1px;
  }
  .sgem-compound-interest-cal-left-add-class .sgem-compound-interest-cal-tabs input#sgem-compound-interest-cal-tab1:checked ~ .sgem-compound-interest-form-checkbox-style-tic1:before, .sgem-compound-interest-cal-left-add-class .sgem-compound-interest-cal-tabs input#sgem-compound-interest-cal-tab6:checked ~ .sgem-compound-interest-form-checkbox-style-tic6:before {
      right: -2px;
      top: -1px;
  }
}

@media (max-width: 800px) {
  .sgem-compound-interest-cal-left {
    padding: 10px;
    padding-right: 20px;
  }
  span.sgem-compound-interest-radio-btn-span {
    display: block;
      margin-bottom: 6px;
  }
}

/* break point */
@media (max-width: 700px) {
  /* styles fore below 700px */
  .sgem-compound-interest-cal-main-id .sgem-compound-interest-cal-1 .sgem-compound-interest-flex-container {
    display: block;
  }
  .sgem-compound-interest-cal-main-id .sgem-compound-interest-cal-1 .sgem-compound-interest-flex-container .sgem-compound-interest-form-flex {
      padding-right: 0;
  }
  .sgem-compound-interest-cal-main-id .sgem-compound-interest-cal-wrapper {
      flex-direction: column;
  }
  .sgem-compound-interest-cal-main-id .sgem-compound-interest-cal-left {
      padding: 0;
      width: 100%;
  }
  .sgem-compound-interest-cal-main-id .sgem-compound-interest-cal-right {
      width: 100%;
  }
  .sgem-compound-interest-cal-main-id .sgem-compound-interest-for-mob {
    display: block;
    margin-bottom: 10px;
  }
  .sgem-compound-interest-cal-main-id .sgem-compound-interest-for-desk {
    display: none;
  }
  .sgem-compound-interest-cal-main-id .sgem-compound-interest-cal-1-result-wrapper .sgem-compound-interest-column2 {
      display: block;
  }
  .sgem-compound-interest-cal-main-id .sgem-compound-interest-cal-1 .sgem-compound-interest-basic-full-width {
      width: 100% !important;
  }
  .sgem-compound-interest-cal-1-result-wrapper {
      padding: 16px;
  }
  .sgem-compound-interest-cal-main-id .sgem-compound-interest-cal-left .sgem-compound-interest-form {
      height: auto;
  }
}
 
/* ******** mobile ************ */
@media (max-width: 575px) {
  /* chart css for mobile */
  span.sgem-compound-interest-radio-btn-span {
    display: unset;
    margin-bottom: 6px;
  }
  .sgem-compound-interest-cal-main-id .sgem-compound-interest-balance-text {
    font-size: 32px;
  }
  .sgem-compound-interest-cal-main-id .sgem-compound-interest-legendbox {
    flex-direction: unset;
    position: absolute;
      top: 340px;
  }
  .sgem-compound-interest-cal-main-id .sgem-compound-interest-chartCard {
      padding-bottom: 100px;
  }
  .sgem-compound-interest-cal-main-id .sgem-compound-interest-balance-retirement {
    font-size: 14px;
      margin-bottom: 8px;
  }
  /* end */

  .sgem-compound-interest-cal-1 .sgem-compound-interest-basic-full-width {
      width: 100% !important;
  }
  .sgem-compound-interest-cal-left, .sgem-compound-interest-cal-right {
    width: 100%;
  } 
  .sgem-compound-interest-cal-left .sgem-compound-interest-cal-1 input[type="text"] {
    width: 100%;
  } 
  .sgem-compound-interest-cal-wrapper {
    flex-direction: column;
  }
  .sgem-compound-interest-cal-1-result-wrapper .sgem-compound-interest-column2 {
    width: 100%;
  }
  .sgem-compound-interest-cal-1-result-wrapper {
    padding: 12px;
  } 
  .sgem-compound-interest-cal-1-result-wrapper .sgem-compound-interest-flex-container .sgem-compound-interest-form-flex {
    padding-bottom: 32px;
    font-size: 14px;
  } 
  .sgem-compound-interest-cal-1 .sgem-compound-interest-form-group label {
    line-height: 15px;
    display: block;
    min-height: 30px; 
    font-size: 14px; 
    margin-bottom: 0;
  }
  .sgem-compound-interest-cal-1 .sgem-compound-interest-flex-container .sgem-compound-interest-form-flex:last-child {
    padding-right: 0;
  }
  .sgem-compound-interest-cal-1-result-wrapper .sgem-compound-interest-result-label { 
    font-size: 32px; 
    line-height: 44px;
  }
  .sgem-compound-interest-cal-1-result .sgem-compound-interest-result-panel-header { 
    font-size: 14px; 
  }
  .sgem-compound-interest-cal-1-result-header {
    font-size: 15px;
    font-family: 'DM Sans',Helvetica,Arial,Lucida,sans-serif;
  }
  .sgem-compound-interest-cal-1-result .sgem-compound-interest-result-panel-goal {
    font-size: 30px;
  }
  .sgem-compound-interest-cal-1 .sgem-compound-interest-cal-btn {
    margin-bottom: 40px;
    margin-top: 10px;
  } 
  .sgem-compound-interest-logo-wrapper {
    position: relative;
    top: unset;
    right: unset;
    margin-left: -3px;
    margin-top: -10px;
    margin-bottom: 16px;
  }
  .sgem-compound-interest-logo-wrapper img {
    height: 25px;
  }
  .sgem-compound-interest-cal-1 .sgem-compound-interest-flex-container .sgem-compound-interest-form-flex { 
    padding-right: 12px;
  }
  .sgem-compound-interest-tooltip {
    position: absolute;
    margin-left: 8px;
  }
  .sgem-compound-interest-cal-1 .sgem-compound-interest-form-flex.sgem-compound-interest-currency-holder::after { 
    top: 54px;
  }
  .sgem-compound-interest-percentage-note {
    line-height: 14px;
  }
  .sgem-compound-interest-cal-1-result .sgem-compound-interest-flex-container-2 .sgem-compound-interest-form-flex-2 {
    text-align: center;
  }
  .sgem-compound-interest-precentage-arrow {
      border-top: solid 8px white;
      border-left: solid 8px transparent;
      border-right: solid 8px transparent;
    }
  .sgem-compound-interest-cal-1-result .sgem-compound-interest-result-score-label { 
    font-size: 13px; 
    line-height: 14px;
    padding: 0 10px;
  }
  .sgem-compound-interest-tooltip{
  width: 15px;
    height: 15px;
  line-height: 15px;
    font-size: 11px;
  }
  .sgem-compound-interest-inline .sgem-compound-interest-plusminus input[type="text"] {
    width:125px;
  }
  .sgem-compound-interest-logo-center {
    font-size: 14px;
    flex-direction: column;
    padding-top: 20px;
    }
  .sgem-compound-interest-logo-image {
      padding: 0px;
    }
  .sgem-compound-interest-cal-1-result-footer {
    font-size: 14px;
  }
  .sgem-compound-interest-cal-1-result-wrapper .sgem-compound-interest-result-value {
  font-size: 14px;  
  }
  .sgem-compound-interest-value-text {
    font-size: 22px;
    padding-top: 0px;
  }
  .sgem-compound-interest-buttonGet {
    justify-content: left;
    margin-top: 32px;
  }

  /* font sizes */
  .sgem-compound-interest-wrapper-add-mobile .sgem-compound-interest-cal-left-add-class .sgem-compound-interest-cal-1 .sgem-compound-interest-form-group label {
    font-size: 1em;
  }
  .sgem-compound-interest-wrapper-add-mobile .sgem-compound-interest-cal-left-add-class .sgem-compound-interest-cal-1 input[type="text"] {
    font-size: 1em;
  }
  .sgem-compound-interest-wrapper-add-mobile .sgem-compound-interest-cal-left-add-class .sgem-compound-interest-cal-1 .sgem-compound-interest-form-flex.sgem-compound-interest-years-holder::before {
    font-size: 1em;
  }
  .sgem-compound-interest-wrapper-add-mobile .sgem-compound-interest-cal-left-add-class .sgem-compound-interest-cal-1 .sgem-compound-interest-form-flex.sgem-compound-interest-years-holder::before {
      font-size: 1em;
  }
  .sgem-compound-interest-wrapper-add-mobile .sgem-compound-interest-cal-left-add-class .sgem-compound-interest-cal-1 .sgem-compound-interest-form-flex.sgem-compound-interest-precentage-holder::before {
      font-size: 1em;
  }
  .sgem-compound-interest-wrapper-add-mobile .sgem-compound-interest-cal-left-add-class .sgem-compound-interest-cal-1 .sgem-compound-interest-form-flex.sgem-compound-interest-currency-holder::after {
      font-size: 1em;
  }
  .sgem-compound-interest-wrapper-add-mobile .sgem-compound-interest-cal-left-add-class .sgem-compound-interest-cal-radio-btns > label {
      font-size: 1em;
  }
  .sgem-compound-interest-wrapper-add-mobile .sgem-compound-interest-cal-left-add-class .sgem-compound-interest-label-tabs-check {
      font-size: 1em;
  }

}
@media (max-width: 420px){
  .sgem-compound-interest-cal-1 .sgem-compound-interest-form-flex.sgem-compound-interest-currency-holder::after {
    top: 46px;
  }
  .sgem-compound-interest-tooltip {
    position: absolute;
    margin-left: 4px;
  }
  .sgem-compound-interest-tooltip{
  width: 13px;
    height: 13px;
  line-height: 13px;
    font-size: 10px;
  }
  .sgem-compound-interest-inline .sgem-compound-interest-plusminus input[type="text"] {
      width:125px;
  }
    .sgem-compound-interest-cal-main-id .sgem-compound-interest-legendbox {
      top: 305px;
  }
}
@media (max-width: 380px) {
  .sgem-compound-interest-inline .sgem-compound-interest-plusminus input[type="text"] {
    width:100px;
  }
}
@media (max-width: 356px) {
  .sgem-compound-interest-inline .sgem-compound-interest-plusminus input[type="text"] {
    width:90px;
  }
}
@media (max-width: 337px) {
  .sgem-compound-interest-inline .sgem-compound-interest-plusminus input[type="text"] {
    width:80px;
  }
  .sgem-compound-interest-cal-main-id .sgem-compound-interest-legendbox {
    top: 280px;
  }
}
/* Surge end - Dileepa