/* Surge start  */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
.tooltipster-fall,.tooltipster-grow.tooltipster-show{-webkit-transition-timing-function:cubic-bezier(.175,.885,.32,1);-moz-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);-ms-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);-o-transition-timing-function:cubic-bezier(.175,.885,.32,1.15)}.tooltipster-base{display:flex;pointer-events:none;position:absolute}.tooltipster-box{flex:1 1 auto}.tooltipster-content{box-sizing:border-box;max-height:100%;max-width:100%;overflow:auto}.tooltipster-ruler{bottom:0;left:0;overflow:hidden;position:fixed;right:0;top:0;visibility:hidden}.tooltipster-fade{opacity:0;-webkit-transition-property:opacity;-moz-transition-property:opacity;-o-transition-property:opacity;-ms-transition-property:opacity;transition-property:opacity}.tooltipster-fade.tooltipster-show{opacity:1}.tooltipster-grow{-webkit-transform:scale(0,0);-moz-transform:scale(0,0);-o-transform:scale(0,0);-ms-transform:scale(0,0);transform:scale(0,0);-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform;-webkit-backface-visibility:hidden}.tooltipster-grow.tooltipster-show{-webkit-transform:scale(1,1);-moz-transform:scale(1,1);-o-transform:scale(1,1);-ms-transform:scale(1,1);transform:scale(1,1);-webkit-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);transition-timing-function:cubic-bezier(.175,.885,.32,1.15)}.tooltipster-swing{opacity:0;-webkit-transform:rotateZ(4deg);-moz-transform:rotateZ(4deg);-o-transform:rotateZ(4deg);-ms-transform:rotateZ(4deg);transform:rotateZ(4deg);-webkit-transition-property:-webkit-transform,opacity;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform}.tooltipster-swing.tooltipster-show{opacity:1;-webkit-transform:rotateZ(0);-moz-transform:rotateZ(0);-o-transform:rotateZ(0);-ms-transform:rotateZ(0);transform:rotateZ(0);-webkit-transition-timing-function:cubic-bezier(.23,.635,.495,1);-webkit-transition-timing-function:cubic-bezier(.23,.635,.495,2.4);-moz-transition-timing-function:cubic-bezier(.23,.635,.495,2.4);-ms-transition-timing-function:cubic-bezier(.23,.635,.495,2.4);-o-transition-timing-function:cubic-bezier(.23,.635,.495,2.4);transition-timing-function:cubic-bezier(.23,.635,.495,2.4)}.tooltipster-fall{-webkit-transition-property:top;-moz-transition-property:top;-o-transition-property:top;-ms-transition-property:top;transition-property:top;-webkit-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);transition-timing-function:cubic-bezier(.175,.885,.32,1.15)}.tooltipster-fall.tooltipster-initial{top:0!important}.tooltipster-fall.tooltipster-dying{-webkit-transition-property:all;-moz-transition-property:all;-o-transition-property:all;-ms-transition-property:all;transition-property:all;top:0!important;opacity:0}.tooltipster-slide{-webkit-transition-property:left;-moz-transition-property:left;-o-transition-property:left;-ms-transition-property:left;transition-property:left;-webkit-transition-timing-function:cubic-bezier(.175,.885,.32,1);-webkit-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);-moz-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);-ms-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);-o-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);transition-timing-function:cubic-bezier(.175,.885,.32,1.15)}.tooltipster-slide.tooltipster-initial{left:-40px!important}.tooltipster-slide.tooltipster-dying{-webkit-transition-property:all;-moz-transition-property:all;-o-transition-property:all;-ms-transition-property:all;transition-property:all;left:0!important;opacity:0}@keyframes tooltipster-fading{0%{opacity:0}100%{opacity:1}}.tooltipster-update-fade{animation:tooltipster-fading .4s}@keyframes tooltipster-rotating{25%{transform:rotate(-2deg)}75%{transform:rotate(2deg)}100%{transform:rotate(0)}}.tooltipster-update-rotate{animation:tooltipster-rotating .6s}@keyframes tooltipster-scaling{50%{transform:scale(1.1)}100%{transform:scale(1)}}.tooltipster-update-scale{animation:tooltipster-scaling .6s}.tooltipster-sidetip .tooltipster-box{background:#565656;border:2px solid #000;border-radius:4px}.tooltipster-sidetip.tooltipster-bottom .tooltipster-box{margin-top:8px}.tooltipster-sidetip.tooltipster-left .tooltipster-box{margin-right:8px}.tooltipster-sidetip.tooltipster-right .tooltipster-box{margin-left:8px}.tooltipster-sidetip.tooltipster-top .tooltipster-box{margin-bottom:8px}.tooltipster-sidetip .tooltipster-content{color:#fff;line-height:18px;padding:6px 14px}.tooltipster-sidetip .tooltipster-arrow{overflow:hidden;position:absolute}.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow{height:10px;margin-left:-10px;top:0;width:20px}.tooltipster-sidetip.tooltipster-left .tooltipster-arrow{height:20px;margin-top:-10px;right:0;top:0;width:10px}.tooltipster-sidetip.tooltipster-right .tooltipster-arrow{height:20px;margin-top:-10px;left:0;top:0;width:10px}.tooltipster-sidetip.tooltipster-top .tooltipster-arrow{bottom:0;height:10px;margin-left:-10px;width:20px}.tooltipster-sidetip .tooltipster-arrow-background,.tooltipster-sidetip .tooltipster-arrow-border{height:0;position:absolute;width:0}.tooltipster-sidetip .tooltipster-arrow-background{border:10px solid transparent}.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background{border-bottom-color:#565656;left:0;top:3px}.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-background{border-left-color:#565656;left:-3px;top:0}.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-background{border-right-color:#565656;left:3px;top:0}.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background{border-top-color:#565656;left:0;top:-3px}.tooltipster-sidetip .tooltipster-arrow-border{border:10px solid transparent;left:0;top:0}.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border{border-bottom-color:#000}.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border{border-left-color:#000}.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-border{border-right-color:#000}.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border{border-top-color:#000}.tooltipster-sidetip .tooltipster-arrow-uncropped{position:relative}.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-uncropped{top:-10px}.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-uncropped{left:-10px}

.sgem-mrc-cal-1 .sgem-mrc-form-group label, .sgem-mrc-cal-1 input[type="text"], .sgem-mrc-cal-1-result .sgem-mrc-result-panel-header, .sgem-mrc-percentage-note, [data-tippy-root], .sgem-mrc-cal-1 summary {
    font-family: 'DM Sans', sans-serif;
}

.sgem-mrc-cal-main-id {
	max-width: 1240px;
	margin: 0 auto;
	font-family: 'DM SANS';
}

.sgem-mrc-cal-wrapper * {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
}
#calculated_date{
	text-transform: uppercase;
}
.sgem-mrc-cal-wrapper {
	position: relative;
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: nowrap;
	padding: 8px 8px;
	background-color: #f3f3f3;
}
.sgem-mrc-logo-center {
	display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 13px;
/*     padding-right: 5px; */
}
 .sgem-mrc-logo-center a {
    color: rgb(21, 105, 176);
}
.sgem-mrc-cal-left {
	width: 470px;
	padding-left: 20px;
	padding-top: 16px;
	padding-right: 28px;
	padding-bottom:20px;
} 
.sgem-mrc-cal-right {
	width: 750px;
	background-color: #FFFFFF;
	display: flex;
  	flex-direction: column;
    justify-content: space-between;
}
.sgem-mrc-cal-1-result-wrapper {
	padding: 32px 40px;
	position: relative;
}
.sgem-mrc-cal-1 .sgem-mrc-flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	position: relative;
	justify-content: space-between;
	align-items: flex-start;
	gap: 18px;
}
.sgem-mrc-cal-1 .sgem-mrc-flex-container .sgem-mrc-form-flex {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	padding-bottom: 28px;
	position: relative;
}
.sgem-mrc-cal-1 .sgem-mrc-form-group {
    margin: 0px !important;
    padding: 0px;
}
.sgem-mrc-cal-1 .sgem-mrc-form-group label {
	font-size: 16px;
	font-weight: normal;
	color: #000;
	font-family: 'DM Sans',Helvetica,Arial,Lucida,sans-serif;
	margin-bottom: 8px; 
}
.sgem-mrc-cal-1 input[type="text"] {
	font-size: 16px;
	height: 55px;
	padding: 17px 16px;
	color: #002340;
	border:  1px solid #bbb;
	width: 200px;
	background: #fff;
}

.sgem-mrc-cal-1 input[type="text"]:focus{
	outline: none !important;
	border: 1px solid #2d3940;
}

.sgem-mrc-cal-1 .sgem-mrc-group-option-l {
    padding-left: 0px !important;
}
.sgem-mrc-cal-1 .sgem-mrc-group-option-r {
    padding-right: 0px !important;
} 
.sgem-mrc-collapsible-summary-title {
	font-family: 'DM Sans',Helvetica,Arial,Lucida,sans-serif;
	font-size: 20px;
	color: #000000;
	font-weight: 500;
	margin-block-start: 20px;
	margin-block-end: 20px;
}
.sgem-mrc-cal-1 .sgem-mrc-form-flex.sgem-mrc-years-holder::before {
	content: 'Years';
	position: absolute;
    left: 145px;
    top: 48px;
	display: block;
	color: #A3A3A3;
	font-weight: 400;
	font-size: 16px;
}
.sgem-mrc-cal-1 .sgem-mrc-form-flex.sgem-mrc-months-holder::before {
	content: 'months';
	position: absolute;
    right: 17px;
    top: 48px;
	display: block;
	color: #A3A3A3;
	font-weight: 400;
	font-size: 16px;
}
.sgem-mrc-cal-1 .sgem-mrc-form-flex.sgem-mrc-currency-holder::after {
	content: '$';
	position: absolute;
	left: 16px;
    top: 48px;
	display: block; 
	color: #A3A3A3;
	font-weight: 400;
	font-size: 16px;
}
.sgem-mrc-cal-1 .sgem-mrc-form-flex.sgem-mrc-precentage-holder::after {
	content: '%';
	position: absolute;
	right: 16px;
    top: 48px;
	display: block; 
	color: #A3A3A3;
	font-weight: 400;
	font-size: 16px;
}
.sgem-mrc-cal-1 .sgem-mrc-form-flex.sgem-mrc-currency-holder input[type="text"] {
	padding-left: 33px;
}
.sgem-mrc-info-tooltip {
    border: 1px solid #000;
    width: 18px;
    height: 18px;
    border-radius: 50px;
    line-height: 18px;
    font-size: 11px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    margin-left: 5px;
}
.sgem-mrc-cal-1 .sgem-mrc-form-flex .sgem-mrc-cal-label {
	width: 180px;
}
 
.sgem-mrc-cal-1 details.sgem-mrc-input-more-details {
	border-top: 1px solid #BEBEBE;
	display: block;
	margin-top: 12px;
}
.sgem-mrc-cal-1 summary {
	display: flex !important;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 25px;
	margin-bottom: 20px;
	cursor:pointer;
}
.sgem-mrc-cal-1 h3.collapsible-summary-title {
	font-size: 20px;
	color: #000000;
	padding-bottom: 0;
}
.sgem-mrc-cal-1 details.sgem-mrc-input-more-details > summary::marker, 
.sgem-mrc-cal-1 details.sgem-mrc-input-more-details > summary::-webkit-details-marker {
   display: none;
}
.sgem-mrc-cal-1 details.sgem-mrc-input-more-details > summary::-moz-list-bullet {
    list-style-type: none;
    list-style: none;
    display: none;
}
.sgem-mrc-cal-1 details.sgem-mrc-input-more-details > summary::after {
	content: ' ';
	width: 25px;
	height: 24px;
	display: inline-block; 
	background-repeat: no-repeat;
	background-position: center -5px;
	background-size: 25px;
	background-image: url('https://retirementinvestments.github.io/sgem-mrc-calculator/assets/images/drop-down-arrow-mrc-ira.svg');
}
.sgem-mrc-cal-1 details[open] > summary::after {
	-moz-transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg);
	background-position: center 5px; 
}
.sgem-mrc-cal-1-result-header {
	font-family: 'DM Sans',Helvetica,Arial,Lucida,sans-serif;
	font-size: 20px;
	color: #000000;
	margin-bottom: 40px;
}
.sgem-mrc-cal-1-result-wrapper .sgem-mrc-column2 {
	width: auto;
}
.sgem-mrc-cal-1-result-wrapper .sgem-mrc-column-right-section-one {
	width: auto;
}

.sgem-mrc-cal-1-result-wrapper .sgem-mrc-column-bluebox {
	width: auto;
}
.sgem-mrc-option-title {
	font-size: 20px;
	font-family: 'DM Sans', sans-serif;
	color: #002340;
	font-weight: 500;
	line-height: 45px;
	padding-bottom: 15px;
}  
.sgem-mrc-cal-1-result-wrapper .sgem-mrc-flex-container .sgem-mrc-form-flex {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
}  

.sgem-mrc-cal-1-result-wrapper .sgem-mrc-flex-container .sgem-mrc-addition , .sgem-mrc-equals {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 42px;
	font-size: 32px;
	font-family: 'DM Serif Display', sans-serif;
}  
.sgem-mrc-cal-1-result-wrapper .sgem-mrc-result-label {
	text-align: left;
	font-size: 32px;
	font-family: 'DM Serif Display', sans-serif;
	letter-spacing: 0px;
	color: #002340; 
	line-height: 58px; 
}
.sgem-mrc-cal-1-result-wrapper .sgem-mrc-current-label {
	text-align: left;
	font-size: 32px;
	font-family: 'DM Serif Display', sans-serif;
	letter-spacing: 0px;
	color: #002340; 
	line-height: 58px; 
}
.sgem-mrc-cal-1-result-wrapper .sgem-mrc-new-label {
	text-align: left;
	font-size: 32px;
	font-family: 'DM Serif Display', sans-serif;
	letter-spacing: 0px;
	color: #002340; 
	line-height: 58px; 
}
.sgem-mrc-cal-1-result-wrapper .sgem-mrc-savings-label {
	text-align: left;
	font-size: 32px;
	font-family: 'DM Serif Display', sans-serif;
	letter-spacing: 0px;
	color: #42C581; 
	line-height: 58px; 
}
.sgem-mrc-cal-1-result-wrapper .sgem-mrc-column2 { 
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-start;
}
.sgem-mrc-cal-1-result-wrapper .sgem-mrc-column-right-section-one { 
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-start;
}

.sgem-mrc-cal-1-result-wrapper .sgem-mrc-column-bluebox { 
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-start;
}
.sgem-mrc-section-column {
	padding: 24px 27px;
	background-color: #F1F9FF;
	margin-bottom: 32px;
} 
.sgem-mrc-cal-1-result-wrapper .sgem-mrc-result-value {
	font-size: 16px;
	text-align: left;
	line-height: 21px;
	letter-spacing: 0px;
	color: #1A1A1A; 
	font-weight: 300;
	
} 
.sgem-mrc-logo-wrapper {
	position: absolute;
	right: 5px;
	top: 5px; 
}
.sgem-mrc-cal-1-result .sgem-mrc-result-panel {
    background: #FFFFFF 0% 0% no-repeat padding-box;
	-moz-box-shadow: 0px 5px 20px #0000001A;
	-webkit-box-shadow: 0px 5px 20px #0000001A;
	-o-box-shadow: 0px 5px 20px #0000001A;
	box-shadow: 0px 5px 20px #0000001A;
	opacity: 1;
    padding-top:24px;
}
.sgem-mrc-cal-1-result .sgem-mrc-result-panel-header {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase; 
 }
.sgem-mrc-cal-1-result .sgem-mrc-result-panel-goal {
	text-align: center;
	font-size: 32px;
	font-weight: 400;
	font-family: 'DM Serif Display', serif;
	line-height: 36px;
	letter-spacing: 0px;
	color: #002340;
	padding-top: 16px;
	padding-bottom: 24px;
	position: relative;
	min-height: 80px;
	width: 100%;
}
.sgem-mrc-cal-1-result .sgem-mrc-flex-container-2 {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: 32px;
	position: relative;
	overflow: hidden;
}
.sgem-mrc-cal-1-result .sgem-mrc-flex-container-2 .sgem-mrc-form-flex-2 {
    display: flex;
    flex-direction: column;
}
.sgem-mrc-cal-1-result .sgem-mrc-result-score-label {
	border: 1px solid rgba(0,1,255,0);
	font-size: 16px;
    color: #012341;
    font-family: DM Sans;
    font-weight: 400;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sgem-mrc-cal-1-result .sgem-mrc-needAtt {    
    background-color: #FF5964;    
}
.sgem-mrc-cal-1-result .sgem-mrc-onWay {
    background-color: #FFC12E;
}
.sgem-mrc-cal-1-result .sgem-mrc-getClose {
    background-color: #1E96FC;
}
.sgem-mrc-cal-1-result .sgem-mrc-onTrack {
    background-color: #4BCC8C;
}
.sgem-mrc-cal-1-result-footer {
	font-family: 'DM Sans',Helvetica,Arial,Lucida,sans-serif;
	font-size: 16px ;
	color: #474747;
	font-weight: 300; 
}
.sgem-mrc-buttonGet{
	margin-top: 40px;
	display: flex;
}
.sgem-mrc-cal-1-result-footer .sgem-mrc-getStart {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0px;
	color: #002340;
	text-transform: uppercase;
	background: #FFC12E;
	opacity: 1;
	border: 0px;
	padding: 16px 42px;
	text-decoration: none;
	cursor:pointer;
}
.sgem-mrc-cal-1-result-footer .sgem-mrc-getStart:hover {
        background-color: #ffd061;
}


.sgem-mrc-cal-1 .sgem-mrc-cal-btn {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0px;
	color: #002340;
	text-transform: uppercase;
	background: #4BCC8C;
	opacity: 1;
	border: 0px;
	padding: 16px 42px;
	display: block;
	width: 188px;
	height: 53px;
	margin-top: 50px;
	cursor:pointer;
}
.sgem-mrc-result-goal-text {
	position: relative; 
	width: 100%;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; 
}
/*.sgem-mrc-result-goal-text::after {
	position: absolute;
	top: 60px;
	left: 37%;
	content: '';
	width: 0;
	height: 0;
	border-top: solid 15px white;
	border-left: solid 15px transparent;
	border-right: solid 15px transparent;
} 
.sgem-mrc-result-goal-text.pos-1::after {
	left: 10%;
}
.sgem-mrc-result-goal-text.pos-2::after {
	left: 35%;
}
.sgem-mrc-result-goal-text.pos-3::after {
	left: 59%;
}
.sgem-mrc-result-goal-text.pos-4::after {  
	left: 84%;
}*/ 
.sgem-mrc-err-msg {
	color: #ff5964;
	font-weight: 300;
	font-size: 12px;
	display: none;
	line-height: 15px;
}
/* Chrome, Safari, Edge, Opera for input type numbers (if exist) to remove up down arrows */
.sgem-mrc-cal-wrapper input::-webkit-outer-spin-button,
.sgem-mrc-cal-wrapper input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
.sgem-mrc-cal-wrapper input[type=number] {
   -moz-appearance: textfield;
}

.sgem-mrc-percentage-note {
    font-size: 13px;
    font-weight: 400;
    color: #000; 
    margin-top: 4px;
}
[data-tippy-root] {
	max-width: 250px;
	-moz-box-shadow: 0 4px 8px 0 rgba(100,102,106,.15),0 8px 16px 0 rgba(100,102,106,.33);
	-webkit-box-shadow: 0 4px 8px 0 rgba(100,102,106,.15),0 8px 16px 0 rgba(100,102,106,.33);
	box-shadow: 0 4px 8px 0 rgba(100,102,106,.15),0 8px 16px 0 rgba(100,102,106,.33);
}

[data-tippy-content] {
	font-family: 'DM Sans',Helvetica,Arial,Lucida,sans-serif;
	font-size: 14px;
	
}

.tippy-popper {
	font-family: 'DM Sans',Helvetica,Arial,Lucida,sans-serif;
	
}

.sgem-mrc-tooltip {
	border: 1px solid #000;
	width: 18px;
	height: 18px;
	border-radius: 50px;
	line-height: 18px;
	font-size: 11px;
	display: inline-block;
	text-align: center;
	cursor: pointer !important;
	font-family: 'DM Sans',Helvetica,Arial,Lucida,sans-serif;
}
.tippy-popper {
	font-family: 'DM Sans',Helvetica,Arial,Lucida,sans-serif;
	font-size: 11px;
	max-width: 250px;
}
.sgem-mrc-precentage-arrow {
	position: absolute; 
	border-top: solid 15px white;
	border-left: solid 15px transparent;
	border-right: solid 15px transparent;
	content: '';
	width: 0;
	height: 0;
	left: 29.8154%;
	margin-left: -15px;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; 
}
  .sgem-mrc-err-msg-rmt {
    color: #ff5964;
    font-weight: 300;
    font-size: 13px;
    display: none;
} 

 .sgem-mrc-form-flex-needAtt {
    width:38%;
    flex-basis: 38%;
  }
  .sgem-mrc-form-flex-onWay {
    width:27%;
    flex-basis: 27%;
  }
  .sgem-mrc-form-flex-getClose {
    width:20%;
    flex-basis: 20%;
  }
  .sgem-mrc-form-flex-onTrack {
    width:15%;
    flex-basis: 15%;
  }


.sgem-mrc-common-err-msg {
	color: #ff5964;
	font-weight: 300;
	font-size: 13px;
	line-height: 17px;
}

  .sgem-mrc-err-msg-rmt {
    color: #ff5964;
    font-weight: 300;
    font-size: 13px;
 
}
.sgem-mrc-err-msg-age {
    color: #ff5964;
    font-weight: 300;
    font-size: 13px;
    display: none;
}
.sgem-mrc-err-msg-per{
    color: #ff5964;
    font-weight: 300;
    font-size: 13px;  
}
.sgem-mrc-err-msg-death{
    color: #ff5964;
    font-weight: 300;
    font-size: 13px;  
}
.sgem-mrc-err-msg-income{
    color: #ff5964;
    font-weight: 300;
    font-size: 13px;  
}
.sgem-mrc-err-msg-current{
    color: #ff5964;
    font-weight: 300;
    font-size: 13px;  
}


/* Right Section */
.sgem-mrc-age-text {
	font-size: 42px;
}
.sgem-mrc-chartCard {
	padding-bottom: 40px;
}

.sgem-mrc-legendbox {
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    font-size: 14px;
}
.sgem-mrc-legend-item {
	display: flex;
    cursor: pointer;
    align-items: center;
    padding-bottom: 21px;
    color: #1A1A1A;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    width: 100%;
}
  .sgem-mrc-contribution {
    border:0px;
    padding: 0px;
    width: 18px;
    height: 18px;
    margin-right:16px;
  }
  .sgem-mrc-tax-savings {
    border:0px;
    padding: 0px;
    width: 18px;
    height: 18px;
    margin-right:16px;
  }
  .sgem-mrc-investment {
    border:0px;
    padding: 0px;
    width: 18px;
    height: 18px;
    margin-right:16px;
  }

/* Message Title*/
  
  #messagetitle{
    font-size: 24px;
    font-weight: 500;
    color: #000;
    font-family: 'DM Sans',Helvetica,Arial,Lucida,sans-serif;
    margin-bottom: 16px;
    display: inline-block;
  }

	#mainmessage {
    font-size: 24px;
    font-weight: 500;
    font-family: 'DM Sans',Helvetica,Arial,Lucida,sans-serif;
    margin-bottom: 16px;
    color:#FF5964;
    display: inline-block;
  }


/* Advance tab*/ 
	.sgem-mrc-drop-selection {
		font-size: 15px;
		height: 55px;
		padding: 17px 16px;
		color: #002340;
		border:  1px solid #bbb;
		background-color: #fff;
		font-family: 'DM Sans',Helvetica,Arial,Lucida,sans-serif;
		cursor: pointer;
	}
	.sgem-mrc-drop-selection:focus {	
	outline: none !important;
	border: 1px solid #2d3940;
}



.sgem-mrc-checkbox input[type=checkbox] {
    margin: 0px;
    width:20px;
    height:20px;
  }
  .sgem-mrc-checkbox {
    background-color: #fff;
    font-size: 16px;
    height: 55px;
    padding: 14px 10px;
    width: 200px;
    color: #002340;
    border: 1px solid #bbb;
    display: flex;
    justify-content: space-between;
  }
  .sgem-mrc-plusminus {
	display: flex;
	  border: 1px solid #bbb;
	justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #fff;
  } 
  .sgem-mrc-inline .sgem-mrc-plusminus .sgem-mrc-midvalue {
    width:150px;
	  border-right: 1px;
	  border-left: 1px;
	  border-color:	#bbb;
	  border-style: solid;
	  border-bottom-width: 0px;
    border-top-width: 0px;
  }
  
  .sgem-mrc-minus, .sgem-mrc-plus{
      cursor:pointer;
	  font-size: 20px;
}			



/* tippytheme box*/
.sgem-mrc-goal-tooltip{
  text-align:center;
  cursor:pointer;
}
  .tippy-box[data-theme~="sgem-mrc-goal"] {
    font-size: 20px;
    background-color: #fff;
    color:#000;
    border: 1px solid #b1b3b5;
    padding: 0.5rem 1rem;
    -webkit-box-shadow: 0 4px 8px 0 rgb(100 102 106 / 15%), 0 8px 16px 0 rgb(100 102 106 / 33%);
    box-shadow: 0 4px 8px 0 rgb(100 102 106 / 15%), 0 8px 16px 0 rgb(100 102 106 / 33%);
  }

.sgem-mrc-goal-tooltip-range-to-NeedAtt {
  color:#FF5964;
  font-size: 15px;
}
.sgem-mrc-goal-tooltip-range-to-onWay {
  color:#FFC12E;
  font-size: 15px;
}
.sgem-mrc-goal-tooltip-range-to-getClose {
  color:#1E96FC;
  font-size: 15px;
}
.sgem-mrc-goal-tooltip-range-to-onTrack {
  color:#4BCC8C;
  font-size: 15px;
}
  
.tippy-box[data-theme~="sgem-mrc-goal"][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: #fff;
}
.tippy-box[data-theme~="sgem-mrc-goal"][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: #fff;
}
.tippy-box[data-theme~="sgem-mrc-goal"][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: #fff;
}
.tippy-box[data-theme~="sgem-mrc-goal"][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: #fff;
}

.sgem-mrc-month-result-value {
	font-size: 16px;
	font-weight: 500;
	font-family: 'DM Sans',Helvetica,Arial,Lucida,sans-serif;
	text-transform: uppercase;
	color: #1A1A1A;
}

.sgem-total-savings {
	font-family: 'DM Sans',Helvetica,Arial,Lucida,sans-serif;
    font-size: 16px;
    color: #1A1A1A;
	font-weight: 500;
}
.sgem-result-headtext {
	font-family: 'DM Sans',Helvetica,Arial,Lucida,sans-serif;
    font-size: 16px;
    color: #1A1A1A;
	font-weight: 500;
}

select {
    display: block;
    width: 100%;
    border: 1px solid #333;
    font-family: inherit;
    /** for the dropdown indicator */
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 16px center;
    background-size: 20px;
}

option {
	width:auto;
	background-color: #fff;
}

/* disclaimer styles */
.sgem-mrc-section-disclaimer {
	margin-top: 40px;
}
.sgem-mrc-details-disclaimer summary {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.sgem-mrc-collapsible-summary-disclaimer {
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    color: #474747;
}
details.sgem-mrc-details-disclaimer > summary::after {
    content: " ";
    width: 25px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center -2px;
    background-size: 25px;
    background-image: url('https://retirementinvestments.github.io/sgem-mrc-calculator/assets/images/drop-down-arrow-mrc-ira.svg');
    margin-top: 5px;
}
details.sgem-mrc-details-disclaimer[open] > summary::after {
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    background-position: center 1px;
}
.sgem-mrc-collapsible-text-disclaimer {
    font-weight: 400;
    line-height: 18px;
    font-size: 14px;
    padding: 10px 0;
    color: #474747;
}
@-moz-document url-prefix() {
    select {padding-left:-3px;}
	select {margin-left:-3px;}
}


/* radion btn section */
.sgem-mrc-cal-1 .sgem-mrc-flex-container .sgem-mrc-calculate-radio-btn {
	position: relative;
	cursor: pointer;
	margin: 0;
    width: 20px;
    height: 20px;
}
.sgem-mrc-cal-1 .sgem-mrc-flex-container .sgem-mrc-calculate-radio-btn:checked {
    margin: 0;
    width: 15px;
    height: 15px;
    position: relative;
    top: 0px;
    left: 2px;
    margin-right: 5px;
}

.sgem-mrc-cal-1 .sgem-mrc-flex-container .sgem-mrc-radio-button-section label.sgem-mrc-label-tabs-check {
    font-size: 16px;
    color: #000000;
    line-height: 20px;
    padding-left: 8px;
    cursor: pointer;
    margin: 0;
    margin-right: 47px;
}
.sgem-mrc-cal-1 .sgem-mrc-flex-container .sgem-mrc-radio-button-section {
	display: flex;
    flex-direction: revert;
    align-items: center;
    align-content: center;
}
.sgem-mrc-form-checkbox-style-tic1, .sgem-mrc-form-checkbox-style-tic2 {
	position: relative;
}

/* right side new styles */
.sgem-mrc-cal-1-result-wrapper .sgem-mrc-total-top-form span.sgem-mrc-total-value {
	text-align: left;
    font-size: 42px;
    font-family: 'DM Serif Display', sans-serif;
    letter-spacing: 0px;
    color: #002340;
    line-height: 58px;
}
.sgem-mrc-cal-1-result-wrapper .sgem-mrc-total-top-form span.sgem-mrc-month-txt {
	text-align: left;
    font-size: 42px;
    font-family: 'DM Serif Display', sans-serif;
    letter-spacing: 0px;
    color: #002340;
    line-height: 58px;
    margin-left: 8px;
}
.sgem-mrc-cal-1-result-wrapper .sgem-mrc-total-top-form span.sgem-mrc-refinance-save-you {
	font-size: 20px;
    color: #002340;
    margin-left: 16px;
    line-height: 45px;
}
.sgem-mrc-cal-1-result-wrapper .sgem-mrc-loan-started-in-txt {
	color: #1A1A1A;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: 20px;
}
.sgem-mrc-cal-1-result-wrapper .sgem-mrc-container-chart {
	display: inline-flex;
	width: 100%;
}
.sgem-mrc-cal-1-result-wrapper .sgem-mrc-chart-legend-total {
	width: 290px;
	padding-left: 20px;
}
.sgem_mrc_side_total_lbl {
	margin: 0 0 0 auto;
    font-family: 'DM Serif Display', serif;
    color: #1A1A1A;
    font-size: 16px;
}
.sgem-mrc-cal-1-result-wrapper .sgem-mrc-legendbox .sgem-mrc-cost {
	background: #FF5964;
	width: 18px;
	height: 18px;
	border: 0;
	border-radius: 50%;
	margin-right: 10px;
}
.sgem-mrc-cal-1-result-wrapper .sgem-mrc-legendbox .sgem-mrc-lifetime-saving {
	background: #4BCC8C;
	width: 18px;
	height: 18px;
	border: 0;
	border-radius: 50%;
	margin-right: 10px;
}

.sgem-mrc-flex-container .sgem-mrc-form-flex.sgem-mrc-form-checkbox {
	display: flex;
    flex-direction: row;
}
.sgem-mrc-flex-container .sgem-mrc-check-box-label-tooltip {
	margin-left: 5px;
}

.sgem-mrc-copy-code {
    background: #ffc12e;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    color: #002340;
    text-transform: uppercase;
    border: 0;
    display: block;
    height: 53px;
    text-align: center;
    text-decoration: none;
    padding: 0.3em 1em;
    line-height: 1.5em !important;
    cursor: pointer;
    width: auto;
}
.sgem-mrc-copy-option-panel h3 {
    font-family: "DM Sans", Helvetica, Arial, Lucida, sans-serif;
    margin-bottom: 16px;
    font-size: 20px;
    color: #000;
    padding-bottom: 5px;
    font-weight: 500;
}
.sgem-mrc-cal-main-id .sgem-mrc-copy-option-panel {
    background: #fff;
    padding-top: 25px;
}

/* add js class styles */
.sgem-mrc-cal-left-add-class .sgem-mrc-form-checkbox label .sgem-mrc-form-checkbox-style:after {
	left: 7px;
    top: 4px;
    width: 6px;
}
/*.sgem-mrc-cal-left-add-class .sgem-mrc-cal-1 {
	height: 815px;
    overflow: hidden;
    overflow-y: scroll;
}*/
.sgem-mrc-cal-wrapper {
    flex-direction: row;
}
.sgem-mrc-cal-left.sgem-mrc-cal-left-add-class {
	width: 33%;
	padding: 10px 18px 10px 10px;
    height: 815px;
    overflow: hidden;
    overflow-y: scroll;
}
.sgem-mrc-cal-right.sgem-mrc-cal-right-add-class {
	width: 67%;
}
.sgem-mrc-cal-left-add-class .sgem-mrc-cal-1 .sgem-mrc-form-group label {
    font-size: 0.8em;
}
.sgem-mrc-cal-left-add-class .sgem-mrc-cal-1 input[type="text"] {
    font-size: 0.8em;
    height: 45px;
    width: 100%;
}
.sgem-mrc-cal-left-add-class .sgem-mrc-tooltip {
    width: 15px;
    height: 15px;
    line-height: 15px;
}
.sgem-mrc-cal-left-add-class .sgem-mrc-drop-selection {
    width: 100%;
    font-size: 0.8em;
    height: 45px;
    padding: 10px 16px;
}
.sgem-mrc-cal-left-add-class .sgem-mrc-cal-1 .sgem-mrc-form-flex.sgem-mrc-currency-holder::after {
	font-size: 0.8em;
	top: 42px;
}
.sgem-mrc-cal-left-add-class .sgem-mrc-cal-1 .sgem-mrc-flex-container {
	display: block;
}
.sgem-mrc-cal-left-add-class .sgem-mrc-check-box-label-tooltip {
    margin-left: 5px;
    position: relative;
    top: -4px;
}

.sgem-mrc-cal-right-add-class .sgem-mrc-cal-1-result-wrapper .sgem-mrc-current-label,
.sgem-mrc-cal-right-add-class .sgem-mrc-cal-1-result-wrapper .sgem-mrc-new-label,
.sgem-mrc-cal-right-add-class .sgem-mrc-cal-1-result-wrapper .sgem-mrc-savings-label
{
	font-size: 2em;
}
.sgem-mrc-cal-right-add-class .sgem-mrc-cal-1-result-wrapper .sgem-mrc-flex-container .sgem-mrc-addition, 
.sgem-mrc-cal-right-add-class .sgem-mrc-equals {
	margin-top: 42px;
}
.sgem-mrc-cal-right-add-class .sgem-mrc-cal-1-result-wrapper .sgem-mrc-result-label {
    font-size: 2em;
}
.sgem-mrc-cal-right-add-class .sgem-mrc-cal-1-result-wrapper {
    padding: 20px 20px;
}
.sgem-mrc-cal-right-add-class .sgem-result-value {
    font-size: 0.8em;
}
.sgem-mrc-cal-right-add-class .sgem-mrc-staticvalue-text {
    font-size: 0.9em;
}
.sgem-mrc-cal-right-add-class .sgem-mrc-option-title {
	font-size: 1.1em;
}
.sgem-mrc-cal-right-add-class .sgem-mrc-option-title {
    padding-bottom: 5px;
}
.sgem-mrc-cal-right-add-class .sgem-result-headtext {
	font-size: 0.8em;
}

.sgem-mrc-flex-container .sgem-mrc-form-field-full input[type="text"] {
	width: 100%;
}

.sgem-mrc-cal-right-add-class .sgem-mrc-cal-1-result-wrapper .sgem-mrc-container-chart {
    display: block;
    width: 100%;
}
.sgem-mrc-cal-right-add-class .sgem-mrc-chartCard {
    width: 100%;
    height: auto;
}
.sgem-mrc-cal-right-add-class .sgem-mrc-cal-1-result-wrapper .sgem-mrc-chart-legend-total {
    width: 100%;
    height: auto;
    padding-left: 0;
}
.sgem-mrc-cal-left-add-class .sgem-mrc-cal-1 .sgem-mrc-form-flex.sgem-mrc-precentage-holder::after {
	top: 45px;
	font-size: 0.8em;
}
.sgem-mrc-cal-left-add-class .sgem-mrc-cal-1 .sgem-mrc-form-flex.sgem-mrc-months-holder::before {
    top: 45px;
    font-size: 0.8em;
}
.sgem-mrc-cal-left-add-class .sgem-mrc-info-tooltip {
    width: 15px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
}
.sgem-mrc-cal-right-add-class .sgem-mrc-cal-1-result-wrapper .sgem-mrc-total-top-form span.sgem-mrc-total-value,
.sgem-mrc-cal-right-add-class .sgem-mrc-cal-1-result-wrapper .sgem-mrc-total-top-form span.sgem-mrc-month-txt {
	font-size: 2em;
}

/* Create a custom checkbox */
.sgem-mrc-form-checkbox label {
  	display: block;
  	position: relative;
  	padding-left: 35px;
  	margin-bottom: 12px;
  	cursor: pointer;
  	font-size: 22px;
  	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
}

.sgem-mrc-form-checkbox label input {
  	position: absolute;
  	opacity: 0;
  	cursor: pointer;
  	height: 0;
  	width: 0;
}

.sgem-mrc-form-checkbox-style {
  	position: absolute;
  	top: 0;
  	left: 1px;
  	height: 20px;
  	width: 20px;
  	background-color: #eee;
}

.sgem-mrc-chartCard {
	height: auto;
    width: 380px;
}

.sgem-mrc-form-checkbox label:hover input ~ .sgem-mrc-form-checkbox-style {
  	background-color: #ccc;
}

.sgem-mrc-form-checkbox label input:checked ~ .sgem-mrc-form-checkbox-style {
  	background-color: #4BCC8C;
}

.sgem-mrc-form-checkbox-style:after {
  	content: "";
  	position: absolute;
  	display: none;
}

.sgem-mrc-form-checkbox label input:checked ~ .sgem-mrc-form-checkbox-style:after {
  	display: block;
}

.sgem-mrc-form-checkbox label .sgem-mrc-form-checkbox-style:after {
  	left: 7px;
  	top: 3px;
  	width: 4px;
  	height: 9px;
  	border: solid #fff;
  	border-width: 0 3px 3px 0;
  	-webkit-transform: rotate(45deg);
  	-ms-transform: rotate(45deg);
  	transform: rotate(45deg);
}

/* add mobile styles */
.sgem-mrc-wrapper-add-mobile .sgem-mrc-cal-left.sgem-mrc-cal-left-add-class {
    overflow: hidden;
    overflow-y: hidden;
}
.sgem-mrc-wrapper-add-mobile .sgem-mrc-cal-left {
    height: auto;
}
.sgem-mrc-wrapper-add-mobile .sgem-mrc-cal-left-add-class .sgem-mrc-cal-1 .sgem-mrc-flex-container .sgem-mrc-form-flex {
	padding-right: 0;
}
.sgem-mrc-wrapper-add-mobile .sgem-mrc-cal-left-add-class .sgem-mrc-cal-1 .sgem-mrc-form-flex.sgem-mrc-currency-holder::after {
    font-size: 0.8em;
    top: 43px;
}
.sgem-mrc-wrapper-add-mobile .sgem-mrc-option-title {
	padding-bottom: 16px;
}
.sgem-mrc-wrapper-add-mobile .sgem-result-value {
	padding-bottom: 7px;
    line-height: 18px;
}
.sgem-mrc-cal-wrapper.sgem-mrc-wrapper-add-mobile {
	flex-direction: column;
}
.sgem-mrc-wrapper-add-mobile .sgem-mrc-cal-left.sgem-mrc-cal-left-add-class {
    width: 100%;
}
.sgem-mrc-wrapper-add-mobile .sgem-mrc-cal-right.sgem-mrc-cal-right-add-class {
    width: 100%;
}
.sgem-mrc-wrapper-add-mobile .sgem-mrc-cal-1 .sgem-mrc-flex-container {
    display: flex;
    gap: 10px;
}
.sgem-mrc-wrapper-add-mobile .sgem-mrc-cal-right-add-class .sgem-mrc-cal-1-result-wrapper {
    padding: 20px;
}
.sgem-mrc-wrapper-add-mobile .sgem-mrc-cal-left.sgem-mrc-cal-left-add-class {
    padding: 2px;
}
.sgem-mrc-wrapper-add-mobile .sgem-mrc-cal-1-result-wrapper .sgem-mrc-total-top-form span.sgem-mrc-refinance-save-you {
    font-size: 1em;
    margin-left: 0;
    display: block;
}
.sgem-mrc-wrapper-add-mobile .sgem-mrc-cal-1-result-wrapper .sgem-mrc-total-top-form span.sgem-mrc-month-txt {
    text-align: left;
    font-size: 2em;
}
.sgem-mrc-wrapper-add-mobile .sgem-mrc-cal-1 .sgem-mrc-form-flex .sgem-mrc-cal-label {
    width: 100%;
}
.sgem-mrc-wrapper-add-mobile .sgem-mrc-cal-1-result-wrapper .sgem-mrc-total-top-form span.sgem-mrc-total-value,
.sgem-mrc-wrapper-add-mobile .sgem-mrc-cal-1-result-wrapper .sgem-mrc-total-top-form span.sgem-mrc-month-txt {
	font-size: 2em;
}
.sgem-mrc-wrapper-add-mobile .sgem-mrc-cal-1-result-wrapper .sgem-mrc-total-top-form span.sgem-mrc-refinance-save-you {
	font-size: 0.8em;
	line-height: 20px;
}
.sgem-mrc-wrapper-add-mobile .sgem-mrc-cal-left-add-class .sgem-mrc-cal-1 {
	height: auto;
    overflow: hidden;
}
/* end */

@media (max-width:1200px) {
	.sgem-mrc-cal-wrapper {
	    flex-direction: row;
	    width: auto;
	}
	.sgem-mrc-cal-left {
		width: 33%;
	}
	.sgem-mrc-cal-right {
		width: 67%;
	}	
	.sgem-mrc-cal-1 .sgem-mrc-flex-container {
	    display: block;
	    gap: 0;
	}
	.sgem-mrc-cal-1 input[type="text"] {
		width: 100%;
	} 
	.sgem-mrc-cal-1 .sgem-mrc-flex-container .sgem-mrc-form-flex:last-child {
		padding-right: 0;
	}
	.sgem-mrc-precentage-arrow {
    border-top: solid 12px white;
    border-left: solid 12px transparent;
    border-right: solid 12px transparent;
	}
	.sgem-mrc-age-text {
		font-size: 22px;
	}
}

@media (max-width:1115px) {
	.sgem-mrc-cal-left.sgem-mrc-cal-left-add-class {
	    padding: 10px 18px 10px 10px;
	    height: 960px;
	    overflow: hidden;
	    overflow-y: scroll;
	}
	.sgem-mrc-cal-left-add-class .sgem-mrc-form-checkbox label .sgem-mrc-form-checkbox-style:after {
	    left: 7px;
	    top: 3px;
	    width: 4px;
	}
	.sgem-mrc-cal-1-result-header {
	    margin-bottom: 10px;
	}
	.sgem-mrc-cal-main-id .sgem-mrc-copy-option-panel {
	    padding: 25px;
	}
}

/* ******** ipad ************ */
@media (max-width:1024px) {

	.sgem-mrc-logo-wrapper {
	    position: absolute;
	    right: 5px;
	    top: -7px;
	}
	.sgem-mrc-drop-selection {
		width: 100%;
	}
	.sgem-mrc-plusminus {
    	width: 100%;
  	} 
  	.sgem-mrc-inline .sgem-mrc-plusminus .sgem-mrc-midvalue input[type="text"]{
    	width:125px;
  	}
	.sgem-mrc-checkbox {
		width: 100%;
		padding: 15px 18px;
	}
}
 
/* ******** mobile view ************ */
@media (max-width: 650px) {
	.sgem-mrc-cal-left.sgem-mrc-cal-left-add-class {
		height: auto;
	}
	.sgem-mrc-cal-left-add-class .sgem-mrc-cal-1 .sgem-mrc-form-group label {
		font-size: 1em;
	}
	.sgem-mrc-cal-left-add-class .sgem-mrc-cal-1 input[type="text"] {
		font-size: 1em;
	}
	.sgem-mrc-wrapper-add-mobile .sgem-mrc-cal-left-add-class .sgem-mrc-cal-1 .sgem-mrc-form-flex.sgem-mrc-currency-holder::after {
		font-size: 1em;
	}
	.sgem-mrc-cal-left-add-class .sgem-mrc-cal-1 .sgem-mrc-form-flex.sgem-mrc-precentage-holder::after {
		bottom: 37px;
		font-size: 1em;
	}
	.sgem-mrc-cal-left-add-class .sgem-mrc-cal-1 .sgem-mrc-form-flex.sgem-mrc-months-holder::before {
		bottom: 38px;
		font-size: 1em;
	}
	.sgem-mrc-legend-item {
		font-size: 1em;
	}
}
@media (max-width: 480px) {
	.sgem-mrc-cal-left {
		width: 100%;
		padding-top: 31px;
		padding-right: 0px;
		padding-left: 0;
		padding-bottom: 20px;
	}	
	.sgem-mrc-cal-right {
		width: 100%;	
	}
	.sgem-mrc-cal-left .sgem-mrc-cal-1 input[type="text"] {
		width: 100%;
	}	
	.sgem-mrc-cal-wrapper {
		flex-direction: column;
	}
	.sgem-mrc-cal-1-result-wrapper .sgem-mrc-column2 {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		flex-direction: row;
	}
	.sgem-mrc-cal-1-result-wrapper .sgem-mrc-column-right-section-one {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		flex-direction: column;
	}
	.sgem-mrc-cal-1-result-wrapper .sgem-mrc-column-bluebox {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		flex-direction: row;
	}
	.sgem-mrc-cal-1-result-wrapper {
		padding: 16px;
	}	
	.sgem-mrc-cal-1-result-wrapper .sgem-mrc-flex-container .sgem-mrc-form-flex {
		padding-bottom: 32px;
		font-size: 14px;
	}	
	.sgem-mrc-cal-1-result-wrapper .sgem-mrc-flex-container .sgem-mrc-form-equals {
		display: none;
	} 
	.sgem-mrc-cal-1 .sgem-mrc-form-group label {
		line-height: 22px;
		display: block;
		min-height: 30px; 
		font-size: 16px; 
		margin-bottom: 0;
	}
	.sgem-mrc-cal-1-result-wrapper .sgem-mrc-flex-container .sgem-mrc-last-label {
		display: block;
		padding-bottom: 0px !important;
	}
	.sgem-mrc-cal-1 .sgem-mrc-flex-container .sgem-mrc-form-flex:last-child {
		padding-right: 0;
	}
	.sgem-mrc-section-column {
		padding: 14px 16px;
	}
	.sgem-mrc-cal-1-result-wrapper .sgem-mrc-result-label { 
		font-size: 32px; 
		line-height: 44px;
	}
	.sgem-mrc-cal-1-result .sgem-mrc-result-panel-header { 
		font-size: 14px; 
	}
	.sgem-mrc-cal-1-result-header {
		font-size: 15px;
		font-family: 'DM Sans',Helvetica,Arial,Lucida,sans-serif;
	}
	.sgem-mrc-cal-1-result .sgem-mrc-result-panel-goal {
		font-size: 30px;
	}
	.sgem-mrc-cal-1 .sgem-mrc-cal-btn {
		margin-bottom: 40px;
		margin-top: 10px;
	}
	.sgem-mrc-option-title {
		font-size: 16px;
	}	
	.sgem-mrc-logo-wrapper {
		position: relative;
		top: unset;
		right: unset;
		margin-left: -3px;
		margin-top: -10px;
		margin-bottom: 16px;
	}
	.sgem-mrc-logo-wrapper img {
		height: 25px;
	}
	.sgem-mrc-cal-1 .sgem-mrc-flex-container .sgem-mrc-form-flex { 
		padding-right: 12px;
	}
	.sgem-mrc-tooltip {
		position: absolute;
		margin-left: 8px;
	}
	.sgem-mrc-cal-1 .sgem-mrc-form-flex.sgem-mrc-currency-holder::after {
		top: 60px;
		}
	.sgem-mrc-percentage-note {
		line-height: 14px;
	}
	.sgem-mrc-cal-1-result .sgem-mrc-flex-container-2 .sgem-mrc-form-flex-2 {
		text-align: center;
	}
	.sgem-mrc-precentage-arrow {
    	border-top: solid 8px white;
    	border-left: solid 8px transparent;
    	border-right: solid 8px transparent;
    }
	.sgem-mrc-cal-1-result .sgem-mrc-result-score-label { 
		font-size: 13px; 
		line-height: 14px;
		padding: 0 10px;
	}
	.sgem-mrc-tooltip{
	width: 15px;
    height: 15px;
	line-height: 15px;
    font-size: 11px;
	}
	.sgem-mrc-inline .sgem-mrc-plusminus input[type="text"] {
    width:125px;
  }
	.sgem-mrc-logo-center {
    font-size: 15px;
    flex-direction: column;
    padding-top: 20px;
    }
	.sgem-mrc-logo-image {
      padding: 0px;
    }
	.sgem-mrc-cal-1-result-footer {
		font-size: 14px;
	}
	.sgem-mrc-cal-1-result-wrapper .sgem-mrc-result-value {
	font-size: 16px;	
	font-weight: 400;
	}
	.sgem-mrc-column-section-first {
		padding-bottom: 20px !important;
	}
	.sgem-mrc-column-right-section-one-last{
		padding-bottom: 0px !important;
	}
	.sgem-mrc-value-text {
		font-size: 22px;
		padding-top: 0px;
	}
}
@media (max-width: 420px){
	
	.sgem-mrc-tooltip {
    position: absolute;
    margin-left: 4px;
	}
	.sgem-mrc-tooltip{
	width: 13px;
    height: 13px;
	line-height: 13px;
    font-size: 10px;
	}
	.sgem-mrc-inline .sgem-mrc-plusminus input[type="text"] {
    width:125px;
  }
}
@media (max-width: 380px) {
	.sgem-mrc-inline .sgem-mrc-plusminus input[type="text"] {
    width:100px;
  }
}
@media (max-width: 356px) {
	.sgem-mrc-inline .sgem-mrc-plusminus input[type="text"] {
    width:90px;
  }
}
@media (max-width: 337px) {
	.sgem-mrc-inline .sgem-mrc-plusminus input[type="text"] {
    width:80px;
  }
}
/* Surge end